.r3mMainView-dropArea {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-content: center;
  z-index: 50000;
  background-color: rgba(255, 255, 255, 0.5);
}

.r3mMainView-dropArea .-dropZoneGlobal {
  display: grid;
}


.r3mMainView-dropArea .-dropZoneGlobal .-dropZone {
  border-width: 2px;
  border-radius: 10px;
  color: #77797C;
  align-self: center;
  padding: 15px;
  color: #005686;
  border-color: #005686;
  border-style: dashed;
  padding-left: 50px;
  padding-right: 50px;
}

.r3mMainView-dropArea .-dropZoneGlobal .-dropZone .-dropIconAndText {
  justify-items: center;
}
