<div class="enoccmCustomizeAttr-MainToolBar">
  <div class="enoccmCustomizeAttr-ToolBar">
    <div class="enoccmCustomizeAttr-TypeContainer">
      <div id="enoccmCustomizeAttr-comboboxContainer" class="enoccmCustomizeAttr-comboboxContainer">
      </div>
    </div>
  </div>


</div>

<div id="enoccmCustomizeAttr-TableContainer">
  <div id="enoccmCustomizeAttr-MainTable" class="enoccmCustomizeAttr-MainTable">
  </div>
  <div id="enoccmCustomizeAttr-Movementctrls" class="enoccmCustomizeAttr-Movementctrls">
    <ul>
      <li><span id="enoccmCustomizeAttr-Movementctrlsright" class="fonticon fonticon-right"></span></li>
      <li><span id="enoccmCustomizeAttr-Movementctrlsleft" class="fonticon fonticon-left"></span></li>
    </ul>
  </div>
  <div id="enoccmCustomizeAttr-SelectedTable" class="enoccmCustomizeAttr-SelectedTable">

  </div>
</div>
