/* Copyright 2014 Dassault Systèmes company. All rights reserved.*/


.staging-corner-ribbon {
    position: fixed;
    top: -3px;
    right: -28px;
    width: 70px;
    font-size: 17px;
    line-height: 25px;
    z-index: 10000;
    cursor: pointer;
    background-color: #368ec4;
    background-color: #d42834;
    background-color: #bd1526;
    color: white;
/*    text-shadow: 2px 1px 2px red; */
    text-align: center;
    vertical-align: middle;
    transform: rotate(45deg);
    transition: font-size 0.5s;
}

.staging-corner-ribbon:hover {
    font-size: 15px;
}

.staging-corner-ribbon > p {
    visibility: hidden;
    padding: 10px;
    left: -106px;
    top: 90px;
    width: 220px;
    background-color: #555;
    background-color: #f4f5f6;
    color: #fff;
    color: #77797C;
    color: #368ec4;
    text-align: center;
    border: 1px solid #E2E4E3;
    border-radius: 4px;
    position: absolute;
    z-index: 20000;
    font-size: 12px;
    font-family: arial;
    font-weight: 400;
    line-height: 125%;
    opacity: 0.1;
    transition: opacity 0.5s;
    transform: rotate(-45deg);
    text-shadow: none;
}

.staging-corner-ribbon:hover > p {
    visibility: visible;
    opacity: 1;
}

a.tab-item:hover {
    color: #3d3d3d;
}

.sortDropdownMenu {
    min-width: 250px !important;
}

.sortPanelRow span.item-text {
    width: 150px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default !important;
}

.item-icon-group {
    display: inline-flex;
    float: right;
    justify-content: space-around;
    min-width: 50px;
}

    .item-icon-group .fonticon:hover {
        opacity: 1;
    }

.item-icon-sort {
    opacity: .6;
    cursor: pointer;
    font-size: 1.5em;
    padding: 2px;
}

    .item-icon-sort.active {
        color: #368ec4;
    }


.lineSep {
    height:2px;
    border-width:0px;
    background-color:#e2e4e3;
    width: 51em;
}
#ToolsGridContent {
    display: grid;
    -ms-grid-columns: 206fr 536px 2fr;
    -ms-grid-rows: 5fr;
    grid-template-columns: 206fr 536px 2fr;
    grid-template-rows: 6fr;
	justify-items: start;
    align-items: baseline;
}

#ToolsUpgradeLabel {
    grid-column: 1;
    -ms-grid-column: 1;
    grid-row: 5;
    -ms-grid-row: 5;
}
#ToolsLineSep {
    grid-column: 1 / span 3;
    -ms-grid-column: 1 / span 3;
    grid-row: 4;
    -ms-grid-row: 4;
    padding: 15px 0px 0px 0px;
}

#ToolsExportLabel {
    grid-column: 1;
    -ms-grid-column: 1;
    grid-row: 2;
    -ms-grid-row: 2;
}

#ToolsImportLabel {
    grid-column: 1;
    -ms-grid-column: 1;
    grid-row: 3;
    -ms-grid-row: 3;
}

#ToolsBrowseImportFile {
    grid-column: 2;
    -ms-grid-column: 2;
    grid-row: 3;
    -ms-grid-row: 3;
    justify-self: end;
    -ms-grid-column-align: end;
    margin-top: 10px;
    /*display:inline-table*/;
    /*display:flex;*/
}

.ToolsSectionHeader {
    background: lightgrey;
    padding: 5px 0px 5px 5px;
    margin-left: 5px;
    font-weight: bold;
}

.ToolsLabel {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
   white-space:nowrap;
}

.ToolsDivButton {
    margin-top: 10px;
    margin-right: 10px;
    justify-self: center;
    -ms-grid-column-align: center;
}

.ToolsDivBrowseFile {
    margin-right: 10px;
    margin-left: 10px;
}


#ToolsUpgradeButton {
 	grid-column: 3;
    -ms-grid-column: 3;
    grid-row: 5;
    -ms-grid-row: 5;
}

#ToolsExportButton {
    grid-column: 3;
    -ms-grid-column: 3;
    grid-row: 2;
    -ms-grid-row: 2;
}

#ToolsImportButton {
    grid-column: 3;
    -ms-grid-column: 3;
    grid-row: 3;
    -ms-grid-row: 3;

}

#ToolsImportBRButton {
    grid-column: 5;
    -ms-grid-column: 5;
    grid-row: 6;
    -ms-grid-row: 6;
}


#ToolsBrowseImportBRFile {
    grid-column: 4;
    -ms-grid-column: 4;
    grid-row: 6;
    -ms-grid-row: 6;
}

#ToolsSelectCollabSpace {
    grid-column: 3;
    -ms-grid-column: 3;
    grid-row: 6;
    -ms-grid-row: 6;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    justify-self: end;
    -ms-grid-column-align:end;
    /*display: inline-table;
	justify-self: center;*/
}


#selectCollabSpace {
    width: 260px;
    height: 32px;
}

.alert.Tools-alert {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2100;
}

#collabSpaceImgAlert {
    color: black;
    display: table-cell;
    padding-right: 5px;
}

#CollabSpaceAlert {
    display: table-cell
}


#mainToolsDiv{
	height: 100%;
	width: 100%;
}

#to-scroll-tools{
	height: 100%;
	width: 100%;
}

caption {
    padding: 10px;
    caption-side: bottom;
    display: table-caption;
    text-align: left;
}

