$white: #ffffff;
$black: #000000;
$color_footer_gray: #f1f1f1;
$transition-delay: 1s;
@import "variables.uikit";

@mixin custom-scrollbar() {

  /* Firefox only */
  // scrollbar-color: #346abf white; 
  scrollbar-size: thin; 

  /* Global */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    &:hover {
      cursor: pointer;
    }
  }

  /* Fond */
  &::-webkit-scrollbar-track {
    position: relative;
    // box-shadow: inset -5px 0 0 1px $white, inset -9px 0 0 1px $grey-6;
  }

  /* Ascenseur */
  &::-webkit-scrollbar-thumb {
    background: $grey-6;
    border-radius: 4px;
    border-top: 1px $white solid;
    // box-shadow: 0 2px 3px 1px rgba(0,0,0,.45), inset 0 0 5px 2px rgba(255,255,255,.4);
  }

  /* Angle */
  &::-webkit-scrollbar-corner {
    background: $grey-6;
  }

  /* Boutons */
  &::-webkit-scrollbar-button:single-button {
    display: block;
    border-style: solid;
    height: 8px;
    width: 8px;
  }
  /* Haut */
  &::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 4px 8px 4px;
    border-color: transparent transparent $grey-6 transparent;
  }
  &::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent $grey-7 transparent;
  }
  /* Bas */
  &::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 4px 0 4px;
    border-color: $grey-6 transparent transparent transparent;
  }
  &::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    border-color: $grey-7 transparent transparent transparent;
  }
  /* Gauche */
  &::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-width: 4px 8px 4px 0;
    border-color: transparent $grey-6 transparent transparent;
  }
  &::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    border-color: transparent $grey-7 transparent transparent;
  }
  /* Droite */
  &::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent $grey-6;
  }
  &::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    border-color: transparent transparent transparent $grey-7;
  }

}
