.sch-windows-dialog.sch-dialog-splashscreen .wux-windows-window-titlebar .wux-window-icon-placeholder {
  font-size: 11px;
}
.sch-windows-dialog.sch-dialog-splashscreen .wux-windows-window-content .sch-dialog-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.sch-windows-dialog.sch-dialog-splashscreen .wux-windows-window-content .sch-dialog-content > div:first-child {
  flex-grow: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #3d3d3d;
}
.sch-windows-dialog.sch-dialog-splashscreen .wux-windows-window-content .sch-dialog-content > div:first-child > h2 {
  margin-top: 0px;
}
.sch-windows-dialog.sch-dialog-splashscreen .wux-windows-window-content .sch-dialog-content > div:first-child > hr {
  border-top: 1px;
}
.sch-windows-dialog.sch-dialog-splashscreen .wux-windows-window-content .sch-dialog-content > div:first-child > p {
  white-space: normal;
  font-size: 14px;
}
.sch-windows-dialog.sch-dialog-splashscreen .wux-windows-window-content .sch-dialog-content > div:first-child a {
  outline: none;
}
.sch-windows-dialog.sch-dialog-splashscreen .wux-windows-dialog-footer {
  display: flex;
  justify-content: space-between;
}
.sch-windows-dialog.sch-dialog-splashscreen .wux-windows-dialog-footer > .wux-controls-checkbox {
  margin-left: 5px;
}