.sch-block-dialog {
  box-sizing: border-box;
}
.sch-block-dialog .sch-dialog-content {
  display: flex;
  flex-direction: column;
}
.sch-block-dialog .sch-dialog-content .sch-nodeid-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.sch-block-dialog .sch-dialog-content .sch-nodeid-container > .wux-controls-button {
  width: 24px;
  min-width: 24px;
  margin-left: 5px;
}
.sch-block-dialog .sch-dialog-content > .sch-label-property {
  margin-bottom: 5px;
}
.sch-block-dialog .sch-dialog-content .sch-label-property {
  display: flex;
  align-items: center;
  width: 100%;
}
.sch-block-dialog .sch-dialog-content .sch-label-property > span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  color: #77797c;
  display: block;
  white-space: nowrap;
  font-family: sans-serif;
  font-weight: bold;
  padding-right: 8px;
  padding-left: 8px;
}
.sch-block-dialog .sch-dialog-content .sch-label-property .wux-controls-lineeditor,
.sch-block-dialog .sch-dialog-content .sch-label-property .wux-controls-combobox {
  width: 100%;
}
.sch-block-dialog .sch-dialog-content .sch-label-property .wux-controls-lineeditor > input,
.sch-block-dialog .sch-dialog-content .sch-label-property .wux-controls-combobox > input {
  width: 100%;
}
.sch-block-dialog .sch-dialog-content .wux-controls-tab {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.sch-block-dialog .sch-dialog-content .wux-controls-tab .tabBarContainer {
  padding-bottom: 10px;
}
.sch-block-dialog .sch-dialog-content .wux-controls-tab .tabContainer {
  flex-grow: 1;
}
.sch-block-dialog .sch-dialog-content .wux-controls-tab .tabContainer .sch-controls-tab {
  height: 100%;
}