.sch-windows-dialog {
  box-sizing: border-box;
  height: inherit;
}
.sch-windows-dialog .wux-windows-window-titlebar .wux-window-icon-placeholder {
  color: #77797c;
}
.sch-windows-dialog .wux-windows-window-titlebar.sch-windows-dialog-debug {
  background-color: #ffc782;
}
.sch-windows-dialog .wux-windows-window-content {
  box-sizing: border-box;
}
.sch-windows-dialog .wux-windows-window-content .sch-dialog-content {
  box-sizing: border-box;
  height: 100%;
}
.sch-windows-dialog .wux-windows-dialog-footer {
  box-sizing: border-box;
}