<div class="menu-panel grouped search left" id="AEFGlobalSearchHolder">
  <div class="menu-pointer"></div>
  <div class="menu-content">
    <div class="group expanded" data-type="what">
      <div class="group-head no-link" id="AEFGlobalSearch">
        <label>What to Search for</label>
      </div>
      <div class="group-body">
        <ul>
          <li>
            <a href="javascript:void(0)">
              <span></span>
              <label><%= $.t("All") %></label>
            </a>
          </li>

          <li class="separator"></li>
        </ul>

      </div>
    </div>
  </div>
</div>
