@keyframes scale-up-tl {
  0% {
    transform: scale(1);
    transform-origin: 0% 0%;
    opacity: 0;
  }
  1% {
    transform: scale(0);
    transform-origin: 0% 0%;
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
.sch-components-smartsearch {
  box-sizing: border-box;
  position: absolute;
  z-index: 500;
  outline: none;
  border: 1px solid #dadada;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
  overflow: auto;
  background: white;
  font-family: Arial, Helvetica;
  font-size: 14px;
  padding: 0px;
  animation: scale-up-tl 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.sch-components-smartsearch .sch-components-smartsearch-input-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #dadada;
}
.sch-components-smartsearch .sch-components-smartsearch-input-container .sch-components-smartsearch-input {
  box-sizing: border-box;
  transition: border-color 0.1s ease;
  flex-grow: 1;
  border: 0px;
  outline-color: transparent;
  outline-style: none;
  padding: 5px 0px 5px 14px;
  width: 153px;
}
.sch-components-smartsearch .sch-components-smartsearch-input-container .sch-components-smartsearch-input::placeholder {
  font-size: 11px;
}
.sch-components-smartsearch .sch-components-smartsearch-input-container .sch-components-smartsearch-count {
  box-sizing: border-box;
  text-align: right;
  min-width: 60px;
  padding-right: 10px;
  font-style: italic;
  color: #333;
  font-size: 10px;
  pointer-events: none;
}