.sch-vlist-container.sch-vlist-search .sch-vlist .sch-vlist-item:not(.preselected) .highlighted {
  font-weight: bold;
  color: #368ec4;
}
.sch-vlist-container.sch-vlist-search .sch-vlist .sch-vlist-item:not(.nonmatching) + li.nonmatching:not(.selected) {
  border-top: 1px dashed #368ec4;
}
.sch-vlist-container.sch-vlist-search .sch-vlist .sch-vlist-item.selected:not(.nonmatching) + li.nonmatching {
  border-top-style: solid;
}