<span style="visibility: visible; padding-left: 140px;" id="globalSearch">
  <div>
    <input type="text" name="q" class="text search" placeholder="<%= $.t("Search") %>" />
    <img src="http://dsifwe.3dexperience.3ds.com/templates/3dsdemo/img/Search_Delete_Input_Button_Off.png" title="" id="clearSearchBox" />
    <input type="button" style="visibility: hidden; display: none;" />
  </div>
  <div class="dropdownTempDisable" id="searchOption">
    <div class="button">
      <label><%= $.t("All") %></label><div class="icon"></div>
    </div>
  </div>
  <div class="runsearch">
    <div class="icon"></div>
  </div>
  <div class="tags" id="tags"></div>
</span>
