<table cellpadding="0" cellspacing="0" style="cursor:default;"><tr>
  <td><div class="global_ctn_search" id="global_ctn_search">
    <table cellpadding="0" cellspacing="0" width="100%"><tr>
      <td><div class="option_ctn_search ctn_search">
        <div class="option_center ctn_option">
          <div class="option_text"></div>
          <div class="option_icon"></div>
        </div>
        <ul class="menu"></ul>
      </div></td>
      <td style="width:99%"><div class="input_ctn_search ctn_search">
        <div class="input_search_div" id="input_search_div">
          <input class="input_search" type="text" placeholder="" />
        </div>
        <div class="right_search">
          <div class="clear_ctn_search ctn_search">
            <div class="clear_btn_search" style="display: none;"></div>
          </div>
          <div class="run_ctn_search ctn_search">
            <div class="run_btn_search"></div>
          </div>
        </div>
      </div></td>
    </tr></table>
  </div></td>
  <td><div class="btn_search"></div></td>
</tr></table>
