#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.gap-0 {
    gap: 0;
}

.align-flex-start {
    align-self: flex-start;
}
