.sch-controls-filebuffer-editor {
  box-sizing: border-box;
  width: 100%;
  height: 24px;
  line-height: 22px;
  display: flex;
  flex-direction: row;
  color: #3d3d3d;
  background-color: white;
  border: 1px solid transparent !important;
}
.sch-controls-filebuffer-editor > .sch-controls-filebuffer-editor-left-container {
  box-sizing: border-box;
  height: 100%;
  flex-grow: 1;
  font-family: Arial;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
  font-size: 12px;
  padding-left: 6px;
}
.sch-controls-filebuffer-editor > .sch-controls-filebuffer-editor-left-container > .sch-controls-filebuffer-input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 0px;
  padding: 0;
  font-family: Arial;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
  font-size: 12px;
  cursor: default;
  pointer-events: none;
  user-select: none;
}
.sch-controls-filebuffer-editor > .sch-controls-filebuffer-editor-right-container {
  box-sizing: border-box;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sch-controls-filebuffer-editor > .sch-controls-filebuffer-editor-right-container > .sch-controls-filebuffer-button {
  box-sizing: border-box;
  width: 22px;
  min-width: 22px;
  height: 22px;
  min-height: 22px;
  padding: 0px;
  font-size: 12px;
  font-weight: normal;
}
.sch-controls-filebuffer-editor > .sch-controls-filebuffer-editor-right-container > .sch-controls-filebuffer-button > .wux-button-icon-placeholder {
  vertical-align: middle;
}
.sch-controls-filebuffer-editor > .sch-controls-filebuffer-editor-right-container > .sch-controls-filebuffer-button > .wux-button-icon-placeholder > .wux-ui-3ds-lg {
  font-size: 1em;
}