.sch-controls-bigint-spinbox {
  box-sizing: border-box;
  width: 100%;
  height: 24px;
  line-height: 22px;
  display: flex;
  flex-direction: row;
  color: #3d3d3d;
  background-color: white;
  border: 1px solid transparent !important;
}
.sch-controls-bigint-spinbox:not([disabled]) button:not([disabled]):hover {
  background-color: #e2e4e3;
  border-color: inherit;
}
.sch-controls-bigint-spinbox > .sch-controls-bigint-spinbox-left-container {
  box-sizing: border-box;
  height: 100%;
  flex-grow: 1;
}
.sch-controls-bigint-spinbox > .sch-controls-bigint-spinbox-left-container > .wux-controls-lineeditor {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.sch-controls-bigint-spinbox > .sch-controls-bigint-spinbox-left-container > .wux-controls-lineeditor > input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 0px;
  outline: 0px;
  font-size: 12px;
}
.sch-controls-bigint-spinbox > .sch-controls-bigint-spinbox-right-container {
  box-sizing: border-box;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.sch-controls-bigint-spinbox > .sch-controls-bigint-spinbox-right-container > .sch-controls-button {
  box-sizing: border-box;
  outline: none;
  padding: 0px;
  border: 0px solid transparent;
  width: 21px;
  font-size: 7px;
  text-align: center;
  flex-grow: 1;
  color: inherit;
}