.sch-controls-objecteditor {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sch-controls-objecteditor .sch-controls-objecteditor-input {
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0px;
  resize: none;
  outline: none;
  border-style: hidden;
  font-family: Arial;
  font-size: 12px;
  padding-left: 0px;
  color: #3d3d3d;
  text-overflow: ellipsis;
  user-select: none;
  pointer-events: none;
  cursor: default;
  background-color: initial;
}
.sch-controls-objecteditor:hover .sch-controls-objecteditor-button {
  display: inline-block;
}
.sch-controls-objecteditor .sch-controls-objecteditor-button {
  display: none;
  box-sizing: border-box;
  height: 22px;
  width: 22px;
  min-width: 22px;
  cursor: pointer;
  padding: 0px;
  margin-right: 1px;
  border-radius: 4px;
  background-color: #f1f1f1;
  border: 1px solid #b4b6ba;
  color: #3d3d3d;
}
.sch-controls-objecteditor .sch-controls-objecteditor-button:hover {
  background-color: #e2e4e3;
  border-color: #77797c;
}
.sch-controls-objecteditor .sch-controls-objecteditor-button:hover:active {
  background-color: #d1d4d4;
}