<div class="guidedMode-content-section">
  <div class="guidedmode-section" id="myContentDropdown">
    <div class="guidedmode-section-text">
      <div class="section-icon wux-ui-3ds-topbar-user wux-ui-3ds"></div>
      <div class="section-text">###myContent###</div>
      <div class="wux-controls-abstract wux-controls-button wux-ui-state-primary wux-ui-style-lite" touch-mode=""
        tabindex="0">
        <span class="wux-button-icon-fi wux-ui-genereatedicon-fi wux-ui-3ds wux-ui-3ds-chevron-right wux-ui-3ds-lg"
          style="pointer-events: none;"></span>
      </div>
    </div>
    <div class="mycontent-empty-view" style="display: none;">
      <div class="mycontent-empty-view-image fonticon fonticon-search"> </div>
      <div class="mycontent-empty-view-text">###noResults###</div>
      <div class="mycontent-empty-view-subtext">###noResultsSubText###</div>
    </div>
  </div>
  <div class="guidedmode-button-container">
    <div class="guidedmode-section" id="myFavoriteDropdown">
      <div class="guidedmode-section-text">
        <div class="section-icon wux-ui-3ds-favorite-on wux-ui-3ds"></div>
        <div class="section-text">###myFavorite###</div>
        <div class="wux-controls-abstract wux-controls-button wux-ui-state-primary wux-ui-style-lite" touch-mode
          tabindex="0">
          
          <span class="wux-button-icon-fi wux-ui-genereatedicon-fi wux-ui-3ds wux-ui-3ds-chevron-right wux-ui-3ds-lg"
            style="pointer-events: none;"></span>
        </div>
      </div>
    </div>
    <div class="guidedmode-section" id="advSearchDropdown">
      <div class="guidedmode-section-text">
        <div class="section-icon wux-ui-3ds-search-cog wux-ui-3ds"></div>
        <div class="section-text">###advSearch###</div>
        <div class="wux-controls-abstract wux-controls-button wux-ui-state-primary wux-ui-style-lite" touch-mode
          tabindex="0">
          
          <span class="wux-button-icon-fi wux-ui-genereatedicon-fi wux-ui-3ds wux-ui-3ds-chevron-right  wux-ui-3ds-lg"
            style="pointer-events: none;"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="guidedmode-section" style="display: none;" id="DDM_SomeCommands_SimilarSearch_Header">
    <div class="guidedmode-section-text">
      <div class="section-icon wux-ui-3ds-search-book wux-ui-3ds"></div>
      <div class="section-text">###DDM_SomeCommands_SimilarSearch_Header###</div>
      <div class="wux-controls-abstract wux-controls-button wux-ui-state-primary wux-ui-style-lite" touch-mode
        tabindex="0">
        <span class="wux-button-icon-fi wux-ui-genereatedicon-fi wux-ui-3ds wux-ui-3ds-chevron-right wux-ui-3ds-lg"
          style="pointer-events: none;"></span>
      </div>
    </div>
  </div>
  <div class="guidedmode-section" style="display: none;" id="PartSupplyHeader">
    <div class="guidedmode-section-text">
      <div class="section-icon wux-ui-3ds-search-similar wux-ui-3ds"></div>
      <div class="section-text">###PartSupplyHeader###</div>
      <div class="wux-controls-abstract wux-controls-button wux-ui-state-primary wux-ui-style-lite" touch-mode
        tabindex="0">
        <span class="wux-button-icon-fi wux-ui-genereatedicon-fi wux-ui-3ds wux-ui-3ds-chevron-right wux-ui-3ds-lg"
          style="pointer-events: none;"></span>
      </div>
    </div>
  </div>
  <div class="guidedmode-section" style="display: none;" id="DDM_SomeCommands_RelNavWbWn_Header">
    <div class="guidedmode-section-text">
      <div class="section-icon wux-ui-3ds-object-related wux-ui-3ds"></div>
      <div class="section-text">###DDM_SomeCommands_RelNavWbWn_Header###</div>
      <div class="wux-controls-abstract wux-controls-button wux-ui-state-primary wux-ui-style-lite" touch-mode
        tabindex="0">
        <span class="wux-button-icon-fi wux-ui-genereatedicon-fi wux-ui-3ds wux-ui-3ds-chevron-right wux-ui-3ds-lg"
          style="pointer-events: none;"></span>
      </div>
    </div>
  </div>
</div>
<div class="guidedmode-examples" id="guidedmode-examples" style="display: none;">
  <div class="guidedmode-examples-text">
    <div class="section-icon fonticon fonticon-search-cog"></div>
    <div class="section-text">###examples###</div>
  </div>
  <div class="examples"></div>
</div>
