<div class="search-guided-mode">
</div>
<div class="search-nlq-data-model">
</div>
<div class="search-dropdown-main">
  <div class="search-dropdown-input"></div>
  <div class="search-dropdown-content">
    <div class="search-left">
      <div class="suggestion-container">
        <div class="suggestion-container-empty" style="display: none;"> </div>
        <div class="custom-suggestion-container-content"> </div>
      </div>
    </div>
    <div class="search-result">
      <div class="nlq-brick-container" style="display: none;">
      </div>
      <div class="instant-search-container">
        <div class="instant-search-warning-message search-warning-message" style="display: none;"></div>
        <div class="instant-search-empty-view" style="display: none;">
          <div class="instant-search-empty-view-image fonticon fonticon-search">
            <!-- <div class="instant-search-empty-view-icon fonticon fonticon-attention"></div> -->
          </div>
          <div class="instant-search-empty-view-text">###noresultfound###</div>
          <div class="instant-search-empty-view-subtext">###noresultfound.text###</div>
        </div>
        <div class="instant-search-apps" style="display: none;">
          <div class="empty-view-infos search-empty-view" style="display: none;">
            <span class="empty-view-title center-block">###instant.empty###</span>
          </div>
        </div>
        <div class="searchResults-container" style="display: none;"></div>
        <div class="guidedmode-content">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="search-settings-helps">
  <div class="settings-tab-container" id="settings-content"></div>
  <div class="predefined-queries-tab-container" id="helps-content"></div>
</div>
<div class="search-setting-pq">
  <div class="wux-controls-abstract wux-controls-button wux-ui-state-secondary wux-ui-style-lite settings"
    style="--key:'Q'" id="settings" tabindex="0" showlabel>
    <div class="wux-button-icon-placeholder">
      <span class="wux-button-icon-fi wux-ui-genereatedicon-fi wux-ui-3ds wux-ui-3ds-cog wux-ui-3ds-lg"
        style="pointer-events: none;">
      </span>
    </div>
    <span class="wux-button-label">###settings###</span>
  </div>
  <div class="wux-controls-abstract wux-controls-button wux-ui-state-secondary wux-ui-style-lite helps"
    style="--key:'H'" id="help" tabindex="0" showlabel>
    <div class="wux-button-icon-placeholder">
      <span class="wux-button-icon-fi wux-ui-genereatedicon-fi wux-ui-3ds wux-ui-3ds-help wux-ui-3ds-lg"
        style="pointer-events: none;">
      </span>
    </div>
    <span class="wux-button-label">###help###</span>
  </div>
</div>
<div class="search-notification">
  <span class="search-notification-text">###press###<span class="box-highlight">/</span>###jumpToSearch###</span>
</div>
