<!-- <div class="search-suggestion-container-empty"> -->

<div class="search-dropdown-suggestion-title">
  <span class="fonticon fonticon-lightbulb search-history-icon"></span>
  <div class="search-dropdown-suggestion-title-text">###searchsuggestions###</div>
</div>

<div class="search-suggestion-container-empty-nohistories">
  <div class="suggestion-container-empty-icon fonticon fonticon-lightbulb"></div>
  <div class="suggestion-container-empty-text">###nosuggestions###</div>
</div>
<!-- </div> -->
