.me-preference-panel {
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: 340px;
}

.me-preference-panel-language-container {
    width: 100%;
    height: 100%;
    display: inline-flex;
}
.me-preference-panel-language-container-left {
    width: calc(50% - 10px);
    height: calc(100% - 20px);
    padding-left: 10px;
    padding-top: 20px;
}

.me-preference-panel-language-container-right {
    width: calc(50% - 40px);
    height: calc(100% - 20px);
    padding-left: 35px;
    padding-right: 5px;
    padding-top: 20px;
}

.me-preference-panel-mouse-control-container {
    width: 100%;
    height: 100%;
}

.me-preference-panel-mouse-control-container-desc {
    width: calc(100% - 18px);
    height: calc(50% - 20px);
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 20px;
}

.me-preference-panel-mouse-control-container-values {
    width: calc(100% - 18px);
    height: calc(50% - 20px);
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 20px;
    display: inline-flex;
    
}

.me-preference-lockButton {
    align-self: center;
}

.me-preference-mouseControlDiv {
    margin-left: 8px;
}

.me-preference-panel-option-container {
    border-style: solid;
    border-width: thin;
    margin: 20px;
    border-color: #e2e4e3;
    padding: 20px;
}

.me-preference-panel-options-desc-container {
    padding-top: 10px;
}

.me-preference-panel-options-container {
    max-width: 500px;
}
