.eventBoundOrderList {
	list-style: none outside;
	margin-bottom: 0;
	margin-top: 0;
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	position: static;
}

.eventBoundOrderList li {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 20px;
	background: #E6E6E6;
	margin:0px 3px 3px;	
}

.cursorMoveClass {
	cursor: move;
}

.eventBoundOrderList li span {
	margin-left: -15px;
	padding-left: 15px;	
	padding-right: 15px;
	height: 18px;
	display: inline-block;
	font-size:1.0em;
}

.eventBoundOrderList li:hover{
	color:#fff !important;
	background-color:#368ec4!important;	
}

.geography-table-header {
	color:#fff!important;
	font-weight: bold;
	background: #368ec4;
	background-clip:padding-box;
}

.languageOrderMsg {
	font-size:.8em;
	color:#fff!important;
	line-height: 0px;
}


