<div id="global-filters" class="active-tags">
  <span class="filter-title"></span>
  <div class="included-tags-list hide tags-list">
    <ul class="active-predicate-list"></ul>
  </div>
  <div class="excluded-tags-list hide tags-list">
    <span class="wux-ui-3ds wux-ui-3ds-block"></span>
    <span class="title"></span>
    <ul class="active-predicate-list"></ul>
  </div>
  <div class="grouped-tags-list hide tags-list">
    <span class="wux-ui-3ds wux-ui-3ds-group"></span>
    <span class="title"></span>
    <ul class="active-grouped-list"></ul>
    </div>
  </div>
</div>
<div id="local-filters" class="active-tags">
  <span class="filter-title"></span>
  <div class="included-tags-list hide tags-list">
    <ul class="active-predicate-list"></ul>
  </div>
  <div class="excluded-tags-list hide tags-list">
    <span class="wux-ui-3ds wux-ui-3ds-block"></span>
    <span class="title"></span>
    <ul class="active-predicate-list"></ul>
  </div>
  <div class="grouped-tags-list hide tags-list">
    <span class="wux-ui-3ds wux-ui-3ds-group"></span>
    <span class="title"></span>
    <ul class="active-grouped-list"></ul>
    </div>
  </div>
</div>
