<div id="tnmax-wrapper" class="tnmax-tagger tn-maximized">
  <div class="tnmax-slider-wrapper">
    <div class="slider-btn-hldr slider-btn-hldr-left">
      <button id="left-btn" class="slider-btn">
        <span class="fonticon fonticon-chevron-left"></span>
      </button>
    </div>
    <div class="tnmax-maximized-views">
      <div class="tnmax-all-view-container ">
      </div>
    </div>
    <div class="slider-btn-hldr slider-btn-hldr-right">
      <button id="right-btn" class="slider-btn">
        <span class="fonticon fonticon-chevron-right"></span>
      </button>
    </div>
  </div>
</div>
