<div class="arrow"><span class="fonticon fonticon-chevron-down"></span><span
        class="fonticon fonticon-chevron-right"></span></div>
<div class='predicate-icon hide'>
    <span class='pred-icon fonticon '></span>
    <img class='pred-icon' src='' />
</div>
<div class="predicate-label ">
    <div class="pred-label"></div>
</div>
<span class='action-icon groupBy fonticon fonticon-group hide' action='group'></span>
<a class="clear-selection hide" title="Clear selections"></a>
<span class="action-icon fonticon fonticon-palette hide" action="colorize"></span>
<div class="predicate-count hide"></div>
<div class="tnw toolbox hide">
    <span class="tnw hide fonticon fonticon-menu-dot"></span>
    <span class="tnw tool-icon view categoryView toolboxView fonticon fonticon-view-small-thb hide"
        optionId='Show Categories'></span>
    <span class="tnw tool-icon view peopleView toolboxView fonticon fonticon-user-alt hide"
        optionId='Show People'></span>
    <span class="tnw tool-icon view toolboxView fonticon tags-view fonticon-list" optionId='Tags View'></span>
    <span class="tnw tool-icon sort alpha-sort fonticon fonticon-sort-alpha-asc" optionId='Alphabetical Order'></span>
    <span class="tnw tool-icon sort nb-sort fonticon fonticon-sort-num-desc" optionId='Occurence Order'></span>
    <span class="tnw tool-icon view toolboxView bar disabled fonticon fonticon-chart-bar" optionId='Bar Chart'></span>
    <span class="tnw tool-icon view toolboxView pie disabled fonticon fonticon-chart-pie " optionId='Pie Chart'></span>
    <span class="tnw tool-icon toolboxView colorize fonticon fonticon-palette hide" optionId='Colorize'></span>
    <span class="tnw tool-icon view toolboxView freeInput fonticon fonticon-text hide" optionId='Input Text'></span>
    <span class="tnw tool-icon clear-filters fonticon fonticon-trash hide" optionId='TrashIcon'></span>
</div>
