<div id="tagnavigator" data-rec-id="tagnavigator">
  <div class="tagger-topbar-container"></div>
  <div class="tn-info"></div>
  <div id="tagnavigator-expladable-sections-container">
    <div id="tn-active-tags"></div><!-- Max height & SCROLLER DIV TO BE INSERTED HERE-->
    <div id="tn-user-tags"></div><!-- Max height & SCROLLER DIV TO BE INSERTED HERE-->
  </div>
  <div id="tagnavigator-content-container"> <!-- SCROLLER DIV TO BE INSERTED HERE-->
    <div id="tn-content"></div>
    <!-- <div> UWA TAB VIEW TO INSERT HERE</div> -->
  </div>
  <div class="show-results-cont"></div>
  <div class="tn-action-container"></div>
  <div id="criteria-footer-wrapper"></div>
</div>
