<div class="tagger-topbar-header">
  <div class="tagger-topbar-title"></div>
  <div class="tagger-topbar-controls">
    <div class="tag-close-cnt tag-cntrl">
      <span class="tagger-close fonticon fonticon-cancel"></span>
    </div>
  </div>
</div>
<div class="tagger-topbar-actions">
  <div id="filter-tags" class="tagger-topbar-search add-tag-cont hide-filter-input">
    <input id="taginput" class="searchbox">
    <i id="taggerSearchDefaultIcon" class="add-on fonticon fonticon-search"></i>
    <i class="fonticon-clickable add-on tag-close clear-search-tag fonticon fonticon-cancel-circled"></i>
    <i id="taggerSearchIcon"
      class="fonticon-clickable add-on tag-search fonticon fonticon-tag-more add-search-in-tagger"></i>
  </div>
  <div id="tag-Controls" class="tagger-topbar-controls">
    <!-- <div class="search-tag tag-cntrl">
          <span class="fonticon fonticon-search"></span>
        </div> -->
    <!-- <div class="edit-tag tag-cntrl">
          <span class="fonticon fonticon-pencil"></span>
        </div> -->
    <div class="type-icon-cnt tag-cntrl">
      <span class="fonticon fonticon-eye"></span>
    </div>
    <div class="tag-settings-cnt tag-cntrl">
      <span class="tagger-settings fonticon fonticon-cog"></span>
    </div>
    <!-- <div class="tag-rootw-cnt tag-cntrl">
      <span class="tagger-rootws fonticon fonticon-tag-eye"></span>
      <label class="action-label"></label>
    </div> -->
  </div>
</div>
