<div class="tnw tag-content">
  <div class="tnw tag-color hide-color"></div>
  <div class="arrow tree"><span class="fonticon fonticon-chevron-down "></span><span class="fonticon fonticon-chevron-right "></span></div>
  <div class="tnw tag-elem">
    <span class="tnw excluded fonticon fonticon-block hide"></span>
    <div class="tnw tag-label-cont">
      <div class="tnw tag-label"></div>
    </div>
    <div class="tnw tag-tail">
      <div class="tnw tag-count"></div>
    </div>
  </div>
  <div class='tnw tag-delete hide'>
    <span class='fonticon fonticon-trash'></span>
  </div>
</div>
<ul class="tags-list-tree">

</ul>
