#delCompareWindow, #delinstCompareWindow {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8%;
  }
  
  #CONTENT_VIEW {
    position: absolute;
  }
  
  #compareTitle, #compareInstTitle {
    text-align: center;
    padding: 15px 10px 10px 15px;
    font: inherit;
    width: 70%;
    margin: auto;
    font-size: 15px;
    font-family: Arial, sans-serif;
    display: none;
    justify-content: center;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid black;
  }
  
  #contentPanel, #contentInstPanel {
    overflow: auto;
    padding: 10px 20px 20px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
    height: 81.5vh;
    margin-top: 10px;
  }
  
  td {
    border: 1px solid black;
  }
  
  table {
    border :1px solid black;
  }
  
  ins {
    background-color: rgb(0, 157, 219);
    text-decoration: none;
    display: initial;
    color: white;
  }
  
  del {
    background-color: rgb(255, 138, 46);
    text-decoration: none;
    display: initial;
    color: white;
  }
  
  .mod {
    background-color: white;
    color: black;
  }
  
  
  li {
    list-style-type: disc;
  }
  
  del  img {
    border: 3px solid rgb(255, 138, 46) !important;
    background-color: inherit;
  }
  
  
  ins img {
    border: 3px solid rgb(0, 157, 219) !important;
    background-color: inherit;
  }

  #CONTENT_VIEW  .compare-view-toolbar-container  .wux-controls-toolbar  .wux-toolbar-dropdown  .wux-controls-toolbar-nearContainer .wux-toolbar-items-near .wux-generated-toolbar-items-tweaker  .wux-tweakers-color-square {
    width: 16px;
    height: 16px;
  }
  #CONTENT_VIEW  .compare-view-toolbar-container  .wux-controls-toolbar  .wux-toolbar-dropdown  .wux-controls-toolbar-nearContainer .wux-toolbar-items-near .wux-generated-toolbar-items-tweaker .wux-tweakers-string-label{
    padding-right: 2rem;
    padding-top: 0.24rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
  }
  #CONTENT_VIEW  .compare-view-toolbar-container  .wux-controls-toolbar  .wux-toolbar-dropdown  .wux-controls-toolbar-nearContainer{
    display: grid;
    grid-template-columns: 2rem fit-content(35%) 2rem fit-content(35%);
  }
  #CONTENT_VIEW  .compare-view-toolbar-container  .wux-controls-toolbar  .wux-toolbar-dropdown{
    display: grid;
    grid-template-columns: 90% 0% 0%;
  }
  #CONTENT_VIEW  .compare-view-toolbar-container  .wux-controls-toolbar  .wux-toolbar-dropdown  .wux-controls-toolbar-nearContainer .wux-toolbar-items-near {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: grid;
    grid-template-columns: 100%;
  }

  
/********************************************/


#INSTANCE_CONTENT_VIEW  .compare-view-toolbar-container  .wux-controls-toolbar  .wux-toolbar-dropdown  .wux-controls-toolbar-nearContainer .wux-toolbar-items-near .wux-generated-toolbar-items-tweaker  .wux-tweakers-color-square {
  width: 16px;
  height: 16px;
}
#INSTANCE_CONTENT_VIEW  .compare-view-toolbar-container  .wux-controls-toolbar  .wux-toolbar-dropdown  .wux-controls-toolbar-nearContainer .wux-toolbar-items-near .wux-generated-toolbar-items-tweaker .wux-tweakers-string-label{
  padding-right: 2rem;
  padding-top: 0.24rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
#INSTANCE_CONTENT_VIEW  .compare-view-toolbar-container  .wux-controls-toolbar  .wux-toolbar-dropdown  .wux-controls-toolbar-nearContainer{
  display: grid;
  grid-template-columns: 2rem fit-content(35%) 2rem fit-content(35%);
}
#INSTANCE_CONTENT_VIEW  .compare-view-toolbar-container  .wux-controls-toolbar  .wux-toolbar-dropdown{
  display: grid;
  grid-template-columns: 90% 0% 0%;
}
#INSTANCE_CONTENT_VIEW  .compare-view-toolbar-container  .wux-controls-toolbar  .wux-toolbar-dropdown  .wux-controls-toolbar-nearContainer .wux-toolbar-items-near {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: grid;
  grid-template-columns: 100%;
}
