.sch-watch-panel {
  box-sizing: border-box;
}
.sch-watch-panel .sch-panel-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.sch-watch-panel .sch-panel-content .sch-identify-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}
.sch-watch-panel .sch-panel-content .sch-identify-container .sch-label-property {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  color: #77797c;
  display: block;
  white-space: nowrap;
  font-family: sans-serif;
  font-weight: bold;
  padding-right: 8px;
}
.sch-watch-panel .sch-panel-content .sch-identify-container > .wux-controls-lineeditor {
  flex-grow: 1;
}
.sch-watch-panel .sch-panel-content .sch-identify-container > .wux-controls-button {
  min-width: 24px;
  width: 24px;
  padding: 0px;
  margin-left: 5px;
  line-height: 0px;
}