@tailwind base;
@tailwind components;
@tailwind utilities;

div[data-placeholder] {
  @apply bg-grey-3;
  position: relative;
  &::after {
    content: " ";
    box-shadow: 0 0 50px 9px rgba(254,254,254, 1);
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    animation: load 1s infinite;
  }
}
@keyframes load {
    0%{ left: -100%}
    100%{ left: 150%}
}

.slot-bg-red {
  background: repeating-linear-gradient(45deg, rgba(255, 153, 153, .4), rgba(255, 153, 153, .4) 10px, white 10px, white 20px);
}
.slot-bg-blue {
  background: repeating-linear-gradient(45deg, rgba(153, 194, 255, .4), rgba(153, 194, 255, .4) 10px, white 10px, white 20px);
}
.slot-bg-green {
  background: repeating-linear-gradient(45deg, rgba(153, 255, 153, .4), rgba(153, 255, 153, .4) 10px, white 10px, white 20px);
}
.slot-bg-yellow {
  background: repeating-linear-gradient(45deg, rgba(248, 255, 153, .4), rgba(248, 255, 153, .4) 10px, white 10px, white 20px);
}
.slot-bg-purple {
  background: repeating-linear-gradient(45deg, rgba(189, 153, 255, .4), rgba(189, 153, 255, .4) 10px, white 10px, white 20px);
}
.slot-bg-pink {
  background: repeating-linear-gradient(45deg, rgba(255, 153, 255, .4), rgba(255, 153, 255, .4) 10px, white 10px, white 20px);
}
