<div class="intro section">
  <div class="title">
    ###GuidedHelp_intro_title###
    <!-- Guided mode helps you build complex queries with ease, hides complexity in building UQL query. -->
  </div>
  <div class="content whiteBackground">
    ###GuidedHelp_intro_line_1###<br>
    <!-- Lets see a sample usecase. -->
    <br>
    ###GuidedHelp_intro_line_2###<br>
    <!-- Porsche 911 GT3 <br> -->
    ###GuidedHelp_intro_line_3###<br>
    <!-- Its a sports car, manufactured by Porsche, launched in summer of 1999, with 375 kW Horsepower, model "2023 Porsche 911". If we break this info into properties -->
    <br>
    -----------------------------------<br>
    <span class="bold">###GuidedHelp_intro_line_4###</span><br>
    <!-- <span class="bold">Property (tag) : value (tag value)</span><br> -->
    -----------------------------------<br>
    <span class="bold">###GuidedHelp_intro_property_1### </span>###GuidedHelp_intro_value_1###<br>
    <!-- <span class="bold">Type: </span>Car,<br> -->
    <span class="bold">###GuidedHelp_intro_property_2### </span>###GuidedHelp_intro_value_2###<br>
    <span class="bold">###GuidedHelp_intro_property_3### </span>###GuidedHelp_intro_value_3###<br>
    <span class="bold">###GuidedHelp_intro_property_4### </span>###GuidedHelp_intro_value_4###<br>
    <span class="bold">###GuidedHelp_intro_property_5### </span>###GuidedHelp_intro_value_5###<br>
    <span class="bold">###GuidedHelp_intro_property_6### </span>###GuidedHelp_intro_value_6###<br>
    <span class="bold">###GuidedHelp_intro_property_7### </span>###GuidedHelp_intro_value_7###<br>
    -----------------------------------<br>
    <br>
    <p>
      ###GuidedHelp_intro_line_5###
      <!-- So, if you are looking for this car in a database, you can do that in many ways but here are a few ways -->
    </p>
    <div class="">
      <p>
        ###GuidedHelp_intro_query_1###<span class="bold"> &nbsp; ###GuidedHelp_intro_OR###<br>
        </span> ###GuidedHelp_intro_query_2### <span class="bold"> &nbsp; ###GuidedHelp_intro_OR### <br>
        </span>###GuidedHelp_intro_query_3###<span class="bold"> &nbsp; ###GuidedHelp_intro_OR### <br>
        </span>###GuidedHelp_intro_query_4###
        <!-- "cars with speed > 300 And manufactered by porsche" <span class="bold"> &nbsp; OR <br>
        </span> "sports car And launched in year 1999 with horsepower > 300" <span class="bold"> &nbsp; OR <br>
        </span>"model 2023 Porsche 911"<span class="bold"> &nbsp; OR <br>
        </span>"2023 Porsche 911" -->
      </p>
    </div>
    ###GuidedHelp_intro_line_6###
    <!-- This feature guides you build these types of complex queries. You got to identify such featues/properties and corresponding tagvalues construct a condition
    and connect such conditions with operators to build you query. -->
  </div>
</div>
<div class="headers section">
  <div class="title">
    ###GuidedHelp_headers_title###
    <!-- Suggestions Explained -->
  </div>
  <div class="content whiteBackground">
    <p>
      ###GuidedHelp_headers_line_1###
      <!-- At each turn, you will be presented with suggestions, which will let you build query with ease. These suggestions are context sensitive, that means, you will see suggestions based on bricks selected. -->
    </p>
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_headers_subtitle_1###
        <!-- Tags AND Tag Values -->
      </div>
      <div class="content">
        <!-- In 3DSearch terms, lets call properties as tags and value corresponding as tag values. -->
        <!-- <br> -->
        ###GuidedHelp_headers_content_1_line_1### <br>
        &nbsp;  &nbsp; ###GuidedHelp_headers_content_1_line_2###
        <!-- Ex: Title, Owner, Maturity State, Creation date are tags & <br>
          &nbsp;  &nbsp; "Pirates of the Caribbean", "Bernard Charles", "In Work", "2024/07/08" are corresponding tag values -->
      </div>
    </div>
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_headers_subtitle_2###
        <!-- Types -->
      </div>
      <div class="content">
        ###GuidedHelp_headers_content_2_line_1###
        <!-- This is a special property, used to classify the object on the platform just like Post, Wikipage, Part, Physical Product etc.
        And since type tag is frequently used, a dedicated section for Types is provided. -->
      </div>
    </div>
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_headers_subtitle_3###
        <!-- Subtypes -->
      </div>
      <div class="content">
        ###GuidedHelp_headers_content_3_line_1###
        <!-- These are extension of types, i.e., they have all the tags of the type and also have some additional tags of their own(just like the example, car & sport car).
        Ex: type - physical Product and interface - Angle Pin -->
      </div>
    </div>
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_headers_subtitle_4###
        <!-- Keywords -->
      </div>
      <div class="content">
        ###GuidedHelp_headers_content_4_line_1###
        <!-- These have special handles.  -->
        <br>
        <div class="">
           &nbsp; ###GuidedHelp_headers_content_4_line_2### <br>
           &nbsp; ###GuidedHelp_headers_content_4_line_3###
          <!-- &nbsp; ME - corresponds to login user<br>
          &nbsp; Today, this week, this month, this year, last year - corrresponding to timeline -->
        </div>
      </div>
    </div>
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_headers_subtitle_5###
        <!-- Operators -->
      </div>
      <div class="content">
        ###GuidedHelp_headers_content_5_line_1###
        <!-- These are connectors -->
        <div class="moveRight">
          <div class="subTitle">
             &#8226; ###GuidedHelp_headers_content_5_line_2###
            <!-- &#8226; Logical Operators -->
          </div>
          <div class="content">
            &nbsp; ###GuidedHelp_headers_content_5_line_3###
            <!-- &nbsp; Ex: And, Or  -  Used to connect conditions -->
          </div>
        </div>
        <div class="moveRight">
          <div class="subTitle">
            &#8226; ###GuidedHelp_headers_content_5_line_4###
            <!-- &#8226; Relational operators -->
          </div>
          <div class="content">
            &nbsp; ###GuidedHelp_headers_content_5_line_5### <br>
            &nbsp; ###GuidedHelp_headers_content_5_line_6###
            <!-- &nbsp; To connect tag and a tag values <br>
            &nbsp; Ex: is, contains -->
          </div>
        </div>
      </div>
    </div>
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_headers_subtitle_6###
        <!-- User suggestions -->
      </div>
      <div class="content">
        ###GuidedHelp_headers_content_6_line_1###
        <!-- @username or @userID to see user suggestions. [Limitation: user should have access to swym source to see these suggestion] -->
      </div>
    </div>
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_headers_subtitle_7###
        <!-- Community Tags -->
      </div>
      <div class="content">
        ###GuidedHelp_headers_content_7_line_1###
        <!-- Whenever a community is in focus (community should be selected with "IN" refine OR "ds6w:community" tag), you will br presented with community tags of the community. -->
      </div>
    </div>
    <!-- <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_headers_subtitle_8###
        <!-- Company Tags - ->
      </div>
      <div class="content">
        ###GuidedHelp_headers_content_8_line_1###
        <!-- #company tags to see matching company tags. - ->
      </div>
    </div> -->
  </div>
</div>
<div class="navigation section">
  <div class="title">
    ###GuidedHelp_navigate_title###
    <!-- UI Navigation -->
  </div>
  <div class="content whiteBackground">
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_navigate_subtitle_1###
        <!-- Arrow keys -->
      </div>
      <div class="content">
        <span class="bold">###GuidedHelp_navigate_content_1_part_1###</span> ###GuidedHelp_navigate_content_1_part_2###
        <span class="bold">###GuidedHelp_navigate_content_1_part_3###</span> ###GuidedHelp_navigate_content_1_part_4###
        <!-- <span class="bold">Right-left</span> arrows to move in the query/input field.
        <span class="bold">Up-down</span> to navigate in the suggestions -->
      </div>
    </div>
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_navigate_subtitle_2###
        <!-- Alt Shortcuts -->
      </div>
      <div class="content">
        ###GuidedHelp_navigate_content_2_part_1### <span class="bold">###GuidedHelp_navigate_content_2_part_2###</span> ###GuidedHelp_navigate_content_2_part_3###
        <!-- Enter <span class="bold">“Alt”</span> to see key tips. User can combine the Key Tips letters with the Alt key to use shortcuts. -->
      </div>
    </div>
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_navigate_subtitle_3###
        <!-- Tab & Enter -->
      </div>
      <div class="content">
        ###GuidedHelp_navigate_content_3_line_1###
        <!-- If a suggestion is in focus in Suggestions list, hitting Tab/Enter will validate the brick in the query. if nothing is in focus, search will be launched. -->
      </div>
    </div>
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_navigate_subtitle_4###
        <!-- Jump to search -->
      </div>
      <div class="content">
        ###GuidedHelp_navigate_content_4_part_1### <span class="bold">"/"</span> ###GuidedHelp_navigate_content_4_part_2###
        <!-- When you are lost in the UI, entering <span class="bold">"/"</span> will take you to the search field. -->
      </div>
    </div>
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_navigate_subtitle_5###
        <!-- Backspace/delete -->
      </div>
      <div class="content">
        ###GuidedHelp_navigate_content_5_line_1###
        <!-- To get rid of last selected brick in Search field. -->
      </div>
    </div>
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_navigate_subtitle_6###
        <!-- Escape -->
      </div>
      <div class="content">
        ###GuidedHelp_navigate_content_6_line_1###
        <!-- Clicking on "Esc" will get you out of Guided Mode -->
      </div>
    </div>
  </div>
</div>
<div class="abstraction section">
  <div class="title">
    ###GuidedHelp_operator_title###
    <!-- Implicit Operators -->
  </div>
  <div class="content whiteBackground">
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_operator_subtitle_1###
        <!-- AND -->
      </div>
      <div class="content">
        ###GuidedHelp_operator_content_1_line_1###
        <!-- When no operator is present between 2 conditions, it is interpreted as if they are connected by "AND" operator. [With the exception that between two types it is "OR"]. -->
      </div>
    </div>
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_operator_subtitle_2###
        <!-- OR -->
      </div>
      <div class="content">
        ###GuidedHelp_operator_content_2_line_1###
        <!-- Between 2 types, if operator isn't present it is interpreted as OR operator. -->
      </div>
    </div>
    <div class="subSection">
      <div class="subTitle">
        ###GuidedHelp_operator_subtitle_3###
        <!-- Contains -->
      </div>
      <div class="content">
        ###GuidedHelp_operator_content_3_line_1###
        <!-- Between Tag and Tag Value, if operator isn't present it is interpreted as contains. -->
      </div>
    </div>
  </div>
</div>
