<div class="wux-notification-container" notification-level="info" ishighlighted="false" isfadingout="false" isshrinking="false">
  <div class="wux-notification-band">
    <span class="wux-notification-icon wux-ui-3ds wux-ui-3ds-info"></span>
  </div>
  <button type="button" class="wux-notification-close wux-ui-3ds wux-ui-3ds-wrong" style="display: none;"></button>
  <div class="wux-notification-title">###GuidedModeBeta###</div>
  <div class="wux-notification-message">###guideModebetaInfo###</div>
  <div class="guideModeBeta-toogle">
  </div>
</div>
