<div class="examples-content">
  <div class="examples-text">
  </div>
  <div class="wux-controls-abstract wux-controls-button wux-ui-state-primary wux-ui-style-lite" touch-mode tabindex="0" title="###NlsKey###">
    <span class="wux-button-icon-fi wux-ui-genereatedicon-fi wux-ui-3ds wux-ui-3ds-search-add wux-ui-3ds-lg" style="pointer-events: none;"></span>
  </div>
</div>
<div class="wux-controls-abstract wux-controls-button wux-ui-state-primary wux-ui-style-lite" id="guidedDelete" touch-mode style="display: none;">
  <span class="wux-button-icon-fi wux-ui-genereatedicon-fi wux-ui-3ds wux-ui-3ds-pin-off wux-ui-3ds-lg" style="pointer-events: none;"></span>
</div>
