<div class="guideModeBeta-main-close">
  <div class="wux-controls-abstract wux-controls-button wux-ui-state-secondary wux-ui-style-lite" tabindex="0">
    <div class="wux-button-icon-placeholder">
      <span class="wux-button-icon-fi wux-ui-genereatedicon-fi wux-ui-3ds wux-ui-3ds-close wux-ui-3ds-lg" style="pointer-events: none;"></span>
    </div>
</div>
</div>
<div class="guideModeBeta-main-title">
  <h3>###GuidedModeBeta###</h3>
</div>
<div class="guideModeBeta-image">
  <img src="###IconToReplace###" style="width: 100%; height: 100%; border-radius: 19px;">
</div>
<div class="guideModeBeta-help">
  <div class="help">
    <div class="title">###efficiency###</div>
    <div class="explain">###efficiency.help###</div>
  </div>
  <div class="help">
    <div class="title">###powerfull###</div>
    <div class="explain">###powerfull.help###</div>
  </div>
  <div class="help">
    <div class="title">###holistic###</div>
    <div class="explain">###holistic.help###</div>
  </div>
  <div class="help">
    <div class="title">###friendly###</div>
    <div class="explain">###friendly.help###</div>
  </div>
</div>
<div class="guideModeBeta-activation"></div>
