<div class="guidedmode-section">
  <div class="guidedmode-section-text" id="myContent">
    <div class="section-icon wux-ui-3ds-topbar-user wux-ui-3ds"></div>
    <div class="section-text">###myContent###</div>
    <div class="wux-controls-abstract wux-controls-button wux-ui-state-primary wux-ui-style-lite" touch-mode tabindex="0">
      <span class="wux-button-icon-fi wux-ui-genereatedicon-fi wux-ui-3ds wux-ui-3ds-search wux-ui-3ds-lg" style="pointer-events: none;"></span>
    </div>
  </div>
</div>
<div class="guidedmode-section" id="myFavorite">
  <div class="guidedmode-section-text">
    <div class="section-icon wux-ui-3ds-favorite-on wux-ui-3ds"></div>
    <div class="section-text">###myfavorite###</div>
    <div class="wux-controls-abstract wux-controls-button wux-ui-state-primary wux-ui-style-lite" touch-mode tabindex="0">
      <span class="wux-button-icon-fi wux-ui-genereatedicon-fi wux-ui-3ds wux-ui-3ds-search wux-ui-3ds-lg" style="pointer-events: none;"></span>
    </div>
  </div>
</div>
<div class="guidedmode-examples">
  <div class="guidedmode-examples-text">
    <div class="section-icon fonticon fonticon-search-cog"></div>
    <div class="section-text">###examples###</div>
  </div>
  <div class="examples"></div>
</div>
