.dgv-badge {
    margin-bottom: -5px;
    margin-right: -5px;
    width: 16px;
    height: 16px;
    font-size: 10px !important;
    line-height: 16px !important;
    border-radius: 50%;
    text-align: center;
    vertical-align: 0 !important;
    color: white !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 1000;
    background-color: #77797c;
}
.wux-layouts-datagridview-cell.del-ppr-component-dgv-cutNode {
    opacity: 0.4 !important;
}

.del-web-pprnavigator-panel .wux-windows-window-titlebar .wux-ui-genereatedicon-image, .wux-windows-window-titlebar .wux-controls-tabbar-panel .wux-ui-genereatedicon-image {
  vertical-align: middle !important;
}

.divToolbar{
  position:absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  width: 100%;
}

.divToolbar .wux-tweakers .wux-controls-buttongroup .wux-controls-button {
  min-width: 10px;
  width : 25px ;
  margin-right : 10px;
}
