@import "poaedit.css"; 

#slideInFooter {
	background-color: #494949;
	border: 1px solid slategrey;
}

#slideInContentTable {
	border: 1px solid slategrey;
	background-color: #333;
}

.slideInTableHeader {
	background-color: #333;
}

#slideInContentTableCommonAssemblyHeader {
	background-color: #494949;
}

#slideInContentTableNonCommonAssemblyHeader {
	background-color: #494949;
}

.remove-poa-slidein-content-row{
	background-color:#494949;
}


.edit-table-header {
	background: #333;
	border: 1px solid #494949;
}

#editTable>tbody>tr>td{
	border: 1px solid darkgrey;
}






#addArtworkMasters {
	background: #494949;
	background-color: #494949;
}
.slideinCommands{
	background-color:#494949;
}



#modifyAssemblyContentDiv {
	background-color:#494949;
}

.instSeqData {
    color: white; 
}

.ctxmenu .menu {
	background-color: #494949;
}

.editNote{
	background-color: transparent;
}
.poa-edit-toolbar{
	background-color: transparent;
}
.success{
	background-color: grey !important;
}


.slidein-sub-header > td {
	background-color: #494949;
}
 
 #editTable tbody{
 
 background-color: #494949;
 

 }

 .element-type-cell{
 background:#494949;  

color:white;
}

.display-name-header,.display-name-cell{
	color:white;
	background:#333;
}
.display-name-cell{
	background:#494949;
}
.cell-selectable{
	background:#494949;
}
.content-cell{
	color:white;
	background:#494949;
}
#commandsDiv{
    background-color: #494949;
    border-bottom: 3px solid slategrey;
}
 
.filterBox{
    background: white;
}
	
#filterSelection{
    color: grey;
}
#headerBlock{
	background-color: #494949;

}

#editTable>tbody tr:nth-child(even),#editTable>tbody tr:nth-child(even)>td.elementtype{
	background-color:#494949;
	
}

#addArtworkMasterFilter {
    background: white;
    color: grey;
}

.seqNumberInputBox{
	 color: grey;
}

.ellipsis_LC{
	color: white;
}


ul.dynatree-container {
	background-color: #494949;
    font-family: tahoma, arial, helvetica;
    font-size: 10pt;
    white-space: nowrap;
    padding: 3px;
    margin: 0;
/*     border: 1px dotted gray; */
    overflow: auto;
    height: 100%;
}
ul.dynatree-container li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background-attachment: scroll;
    background-color: transparent;
    background-repeat: repeat-y;
    background-image: url(../images/vline.gif);
    background-position: 0 0;
    margin: 0;
    padding: 1px 0 0 0;
    color: white;
}

ul.dynatree-container a {
    color: white;
    text-decoration: none;
    vertical-align: top;
    margin: 0px;
    margin-left: 3px;
    margin-right: 15px;
}
a.dynatree-title.ellipsis_MC:HOVER{
	background-color: #333;
}



#editTable tbody tr:nth-last-child(1){
	height: 115px !important;	
} 

#footerButtons{
    background: #333;;
    border-color: darkgray;
}
#editTable tfoot{
    position: fixed;
    color:white;
    right: 85px;
    bottom: 15px;    height: 35px;
    width: 20px;
    /*padding: 5px 35px 5px;*/
    background: transparent;
    z-index: 1;
    text-align: -webkit-right;
}
#footerToolbar{
    position: fixed;
    bottom: 2px;
    right: 11px;
}
.POAHeaderCell, .selectable {
	background-image: URL("../images/uncheck-pressed.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 20px 20px;
	
}
.refreshAssembly{
	background: url("../images/iconSyncAndRefresh.png") no-repeat 6px !important;
}
.ToggleAllCountriesCBLabel{
	color: white;
}
.hideElement{
	visibility: hidden;
}
ul.dynatree-container span.structuredMaster , 
.empty-dynatree-container , 
ul.dynatree-container span.td ,
.languageCheckBoxLabel ,
#editTableBody tr td span
{
	color: white;
}

#editTableBody tr
{
	background-color: white;
}

.remove-slidein-poa-span {
	color: #ffffff;
}
