<div class="input-group-wrapper">
    <div class="input-group">
        <label>{{questionLabel}}</label>
        <span class="input-element" id="{{questionId}}"></span>
    </div>
    <div class="input-group">
        <label>{{commentsNLS}}</label>
        <span class="input-element" id="{{commentId}}">
            <textarea class="form-control short"></textarea>
        </span>
    </div>
</div>
