<div class="label-container" labelVisibility={{labelVisibility}} invalidStatusVisibility={{invalidStatusVisibility}} requiredIconVisibility={{requiredVisibleOnLabel}} infoIconVisibility={{infoIconVisibility}} >
  <div class="wux-form-validity-icon"></div>
  <div class="form-label field-label">
    {{label}}
  </div>
  <div class="wux-required-icon wux-ui-3ds wux-ui-3ds-new-create"></div>
  <div class="wux-info-icon wux-ui-3ds wux-ui-3ds-info"></div>
</div>

<div class="tweaker-container" labelVisibility={{labelVisibility}} invalidStatusVisibility={{invalidStatusVisibility}} requiredIconVisibility={{requiredVisibleOnTweaker}}  infoIconVisibility={{infoIconVisibility}} >
  <div class="wux-form-icons">
    <div class="wux-form-validity-icon"></div>
    <div class="wux-required-icon wux-ui-3ds wux-ui-3ds-new-create"></div>
    <div class="wux-info-icon wux-ui-3ds wux-ui-3ds-info"></div>
  </div>
  <div class="form-tweaker">
    {{&tweaker}}
  </div>
  <div class="wux-help-text">
    {{&helpText}}
  </div>
</div>
