.adminSettingApplyResetDiv {
    background-color: white;
    float: right;
    right: 0.5em;
    bottom: 0.5em;
    padding: 5px;
    color: black;
    position: relative;
    width: 290px;
    height: 45px;
    font-size: 100%;
    opacity: 0.9;
    filter: alpha(opacity=90);
    font-family: helvetica;
    -webkit-box-shadow: inset 0 1px #fbfbfb;
    box-shadow: inset 0 1px #fbfbfb;
    -o-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.xcadAdminSettingViewClass {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    font-size: 100%;
}

.adminSettingsDivClass {
    overflow: auto;
    height: 300px;
    width: 100%;
    margin-bottom: 12px;
    /* max-height: 300px; */
}

.adminSetttingsTable {
    table-layout: relative;
    min-width: 600px;
    /* margin-top : 10px; */
    margin-bottom: 0px !important;
}

/* ------------------------------------------------------------  */
/* ------------------- FILE EXCHANGE DIV ----------------------  */
/* ------------------------------------------------------------  */
.controlContainer {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 24px;
    vertical-align: middle;
    pointer-events: auto;
    line-height: 20px;
}

.controlContainer .wux-controls-lineeditor input {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.wux-tweakers-button-browsefile {
    font-size: 10px !important;
    height: 24px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-width: 24px !important;
    position: relative !important;
}

.wux-tweakers-button {
    font-size: 10px !important;
    height: 24px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-width: 24px !important;
    position: relative !important;
    margin: 2px;
}

.wux-controls-lineeditor-sign {
    display: inline-block;
}

.wux-controls-lineeditor-sign>* {
    cursor: text;
    position: absolute;
    display: inline-block;
    font-size: 14px !important;
    top: calc(50% - 7px);
    right: calc(100% - 18px);
}

.wux-controls-lineeditor-statuscompute {
    color: #E87B00;
}

.wux-controls-lineeditor-statusok {
    color: #57b847;
}

.wux-controls-lineeditor-statusko {
    color: #EA4F37;
}
