

#MERGE_STRUCT_VIEW #compare-tree-right .wux-scroller {
  overflow: hidden !important;
}

#MERGE_STRUCT_VIEW .treePanel-act .treePanel-headerText {
  margin-right:inherit;
  width:inherit;
}

#merge-tree-action .wux-scroller {
  overflow: hidden !important;
}

#merge-tree-result .wux-scroller {
  overflow-x: hidden !important;
}

.merge-action-image-reusereference {
    background-color: lightskyblue;
    border-radius: 50%;
 }
 
.merge-image-flippedy {
    transform: scaleY(-1);
 }
 
.merge-image-flipandup {
    transform: scale(1,-1) translateY(2px);
 }
 
.merge-text-filtered-out {
    filter: blur(1px);
 }
 
.merge-action-image-reuse {
    background-color: lightcoral;
    border-radius: 50%;
 }
 
.wux-controls-label-merge-lifecyclestatuscolumn-released {
    color: white;
    background-color: rgb(186, 186, 186);
}

#merge-tree-action .merge-action-menu-column .wux-ui-3ds-expand-down {
    display: none !important;
}

#MERGE_STRUCT_VIEW .wux-controls-button.wux-ui-state-primary {
    min-width: 90px !important;
}

#MERGE_STRUCT_VIEW .compare-view-toolbar-right-fixed-width {
    max-width: 490px;
}

@keyframes highlight-pointed {
  0% {
    background: #57b847; /*MEDIUM_GREEN*/
  }

  100% {
    background: none;
  }
}

.ui-pointed-node {
  animation: highlight-pointed 3s;
}
