/** NWT - 8/21/2014 - When changing the URLs here, make SURE that the paths in production.css (in RTV after mkmk) has the corret path! **/
/*
@font-face {
    font-family: '3dsregular';
    src: url('../.././../../../common/fonts/3ds-Regular.eot');
    src: url('../.././../../../common/fonts/3ds-Regular.eot?#iefix') format('embedded-opentype'),
         url('../.././../../../common/fonts/3ds-Regular.woff') format('woff'),
         url('../.././../../../common/fonts/3ds-Regular.ttf') format('truetype'),
         url('../.././../../../common/fonts/3ds-Regular.svg#3dsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '3ds_lightregular';
    src: url('../.././../../../common/fonts/3ds-Light.eot');
    src: url('../.././../../../common/fonts/3ds-Light.eot?#iefix') format('embedded-opentype'),
         url('../.././../../../common/fonts/3ds-Light.woff') format('woff'),
         url('../.././../../../common/fonts/3ds-Light.ttf') format('truetype'),
         url('../.././../../../common/fonts/3ds-Light.svg#3dslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: '3dslight';
    src: url('../.././../../../common/fonts/3ds-Light.eot');
    src: url('../.././../../../common/fonts/3ds-Light.eot?#iefix') format('embedded-opentype'),
         url('../.././../../../common/fonts/3ds-Light.woff') format('woff'),
         url('../.././../../../common/fonts/3ds-Light.ttf') format('truetype'),
         url('../.././../../../common/fonts/3ds-Light.svg#3dslight') format('svg');
    font-weight: 300;
    font-style: normal;
}
*/
/*  =====================================================================
FONT-FACES from BSFdebug\win_b64\webapps\UIKIT\5.Fonts.css
====================================================================== */

/** 3ds light */
@font-face {
    font-family: '3ds';
    src: url('../../../../UIKIT/assets/fonts/3dslight.eot');
    src: url('../../../../UIKIT/assets/fonts/3dslight.eot?#iefix') format('embedded-opentype'),
         url('../../../../UIKIT/assets/fonts/3dslight.woff') format('woff'),
         url('../../../../UIKIT/assets/fonts/3dslight.ttf') format('truetype'),
         url('../../../../UIKIT/assets/fonts/3dslight.svg#3dslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

/** 3ds regular */
@font-face {
    font-family: '3ds';
    src: url('../../../../UIKIT/assets/fonts/3dsregular.eot');
    src: url('../../../../UIKIT/assets/fonts/3dsregular.eot?#iefix') format('embedded-opentype'),
         url('../../../../UIKIT/assets/fonts/3dsregular.woff') format('woff'),
         url('../../../../UIKIT/assets/fonts/3dsregular.ttf') format('truetype'),
         url('../../../../UIKIT/assets/fonts/3dsregular.svg#3dsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** 3ds bold */
@font-face {
    font-family: '3ds';
    src: url('../../../../UIKIT/assets/fonts/3dsbold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/** Deprecated */
@font-face {
    font-family: '3dslight';
    src: url('../../../../UIKIT/assets/fonts/3dslight.eot');
    src: url('../../../../UIKIT/assets/fonts/3dslight.eot?#iefix') format('embedded-opentype'),
         url('../../../../UIKIT/assets/fonts/3dslight.woff') format('woff'),
         url('../../../../UIKIT/assets/fonts/3dslight.ttf') format('truetype'),
         url('../../../../UIKIT/assets/fonts/3dslight.svg#3dslight') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: '3dsregular';
    src: url('../../../../UIKIT/assets/fonts/3dsregular.eot');
    src: url('../../../../UIKIT/assets/fonts/3dsregular.eot?#iefix') format('embedded-opentype'),
         url('../../../../UIKIT/assets/fonts/3dsregular.woff') format('woff'),
         url('../../../../UIKIT/assets/fonts/3dsregular.ttf') format('truetype'),
         url('../../../../UIKIT/assets/fonts/3dsregular.svg#3dsregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
