#DisplayOptionsPanel .wux-windows-window-content{
  padding: 0;
}

#DELBuildupDisplayOptionsMainContainer{
  overflow-y: hidden;
  width: 100%;
  height:100%;
}

#DisplayOptionsGridContainer {
  position: relative;
  height: 100%;
}

#DisplayOptionsToolbarContainer{
  padding: 5px;
}
