.link-tab-container{
  overflow:auto
}

.attrCol{
      padding-top:2px;
      padding-bottom:2px;
      padding-left:20px;
      font-size:14px;
      font-weight:Bold;
      font-family:Arial
}

.typeValueCol{
  padding-top:2px;
  padding-bottom:2px;
  font-size:14px;
  display:inline-flex;
  font-family:Arial
}
.valueCol{
  padding-top:2px;
  padding-bottom:2px;
  font-size:14px;
  font-family:Arial
}
.table{
  width:100%
}
