.INWORK .wux-controls-label{color:#FFFFFF ; background-color:#007DA3;}
.DRAFT .wux-controls-label{color:#FFFFFF ; background-color:#9B2C98;}
.FROZEN .wux-controls-label{color:#FFFFFF ; background-color:#018308;}
.RELEASED .wux-controls-label{color:#FFFFFF ; background-color:#757575;}
.OBSOLETE .wux-controls-label{color:#000000 ; background-color:#FFFFFF;}

#DEL3DViewListProgressBar{
    width: 100%;
    line-height: 0px;
}

#DEL3DViewListProgressBar .wux-controls-progressbar{
  z-index: 1;
  width: 100%;
  right: 0px;
  top: 0px;
  position: absolute;
}

.del-web-viewlist-panel .wux-windows-window-titlebar .wux-ui-genereatedicon-image, .wux-windows-window-titlebar .wux-controls-tabbar-panel .wux-ui-genereatedicon-image {
  vertical-align: middle !important;
}
