/* SearchAutocomplete CSS*/
/*Temporary modification in this css, for suggestions to be visible*/
/*#topbar .center .input_ctn_search .search_css_temp */

@media screen and (min-width: 715px) and (max-width: 959px) {
  .search_css_temp {
    width: 220px;
  }
}

@media screen and (max-width: 715px) {
  .input_ctn_search .right_search {
    right: 20px;
  }
}

#global_ctn_search {
  .uwa-autocomplete {
    position: inherit;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 15px;
  }

  .disable-input {
    opacity: 0.3;
    pointer-events: none;
  }
}

html.ios input.form-control,
html.ios textarea.form-control,
html.ios select.form-control,
html.ios input.autocomplete-input,
html.ios input.uwa-autocomplete,
html.android input.form-control,
html.android textarea.form-control,
html.android select.form-control,
html.android input.autocomplete-input,
html.android input.uwa-autocomplete {
  font-size: 16px !important;
}

#global_ctn_search>div.input_ctn_search.ctn_search.search_css_temp {
  overflow: visible;
  font-size: 13px;
}

.input_ctn_search .nv-autocomplete-searchbox input,
.search-autocomplete {
  /*color: #3d3d3d;*/
  z-index: 300;
  text-decoration: none;
  /*cursor: pointer;*/
  background-color: white;
  padding-right: 75px; // IR-1288149-3DEXPERIENCER2024x
  border-radius: 4px;
  padding-left: 10px;
}

.input_ctn_search .nv-autocomplete-searchbox input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #B4B6BA;
}

.input_ctn_search .nv-autocomplete-searchbox input::-moz-placeholder {
  /* Firefox 19+ */
  color: #B4B6BA;
}

.input_ctn_search .nv-autocomplete-searchbox input:-ms-input-placeholder {
  /* IE 10+ */
  color: #B4B6BA;
}

.input_ctn_search .nv-autocomplete-searchbox input:-moz-placeholder {
  /* Firefox 18- */
  color: #B4B6BA;
}


.input_ctn_search .nv-autocomplete-searchbox .clear-visible {
  padding-right: 110px;
  /*previously 95*/
}

::-ms-clear {
  display: none;
}

/*.input_ctn_search .nv-autocomplete .nv-autocomplete-input {
    background: transparent;
}
.input_ctn_search .nv-autocomplete .nv-autocomplete-input:focus {
    outline: none;
}
.input_ctn_search .nv-autocomplete .nv-autocomplete-searchbox {
    background: transparent;
    background-color: transparent;
    border: none;
}
.input_ctn_search .nv-autocomplete .nv-autocomplete-suggests {
    margin-left: -5px;
    width: calc(100% + 51px) !important;
}
.input_ctn_search .nv-autocomplete .nv-autocomplete-suggests .search-choice {
    outline-color: #ddd;
    outline-width: thin;
    outline-style: solid;
}
.input_ctn_search .nv-autocomplete .nv-autocomplete-suggests .suggestion-selected {
    background: #eee;
}
.input_ctn_search .nv-autocomplete .nv-autocomplete-suggests a:hover {
    background: none;
}*/


.search-hide {
  -webkit-transition: opacity 0.7s ease-in;
  -moz-transition: opacity 0.7s ease-in;
  -o-transition: opacity 0.7s ease-in;
  -ms-transition: opacity 0.7s ease-in;
  transition: opacity 0.7s ease-in;
  opacity: 0 !important;
}

.search-show {
  -webkit-transition: opacity 0.7s ease-in;
  -moz-transition: opacity 0.7s ease-in;
  -o-transition: opacity 0.7s ease-in;
  -ms-transition: opacity 0.7s ease-in;
  transition: opacity 0.7s ease-in;
  opacity: 1 !important;
}

/* SearchAutocomplete CSS*/

.input_ctn_search .nv-autocomplete .nv-autocomplete-searchbox {
  background: transparent;
  background-color: transparent;
  border: none;
}

.input_ctn_search .nv-autocomplete .nv-autocomplete-input {
  background: transparent;
  background-color: white;
  outline: none;
  /*font: 11px;
    padding-left: 10px;*/
}

.input_search_div .nv-autocomplete-suggests {
  width: 100%;
  padding: 0;
  z-index: 1300;
  float: left;
  margin: -3px 0 0;
  min-width: 160px;
  list-style: none;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.input_search_div .nv-autocomplete-suggests ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.input_search_div .nv-autocomplete-suggests ul:nth-child(n+1) {
  border-top: solid #E2E4E3 3px;
}

.input_search_div .nv-autocomplete-suggests ul:focus {
  outline: none;
}

.input_search_div .nv-autocomplete-suggests ul li {
  padding-right: 14px;
  padding-left: 14px;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
  font-family: Arial, sans-serif;
}

.input_search_div .nv-autocomplete-suggests ul li.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.input_search_div .nv-autocomplete-suggests ul>li:not(.search-category-label-container):hover {
  background: #f1f1f1;
  border-color: #e4e4e4;
}

.input_search_div .nv-autocomplete-suggests ul>li.suggestion-selected {
  background: #f1f1f1;
  border-color: #e4e4e4;
}

.input_search_div .nv-autocomplete-suggests ul>li.selected {
  background: #f4f5f6;
  border-left: 5px solid #368ec4;
  padding-left: 5px;
}

.input_search_div .nv-autocomplete-suggests ul>li.active {
  background: #f4f5f6;
  border-left: 5px solid #368ec4;
  padding-left: 5px;
}

.input_search_div .nv-autocomplete-suggests ul a {
  white-space: normal;
  height: initial;
  text-decoration: none;
  text-overflow: ellipsis;
  background: none;
  vertical-align: middle;
  color: #77797c;
  overflow: hidden;
  /*line-height: 20px;*/
  margin-left: 0.2em;
}

.input_search_div .nv-autocomplete-suggests ul a {
  white-space: normal;
  height: initial;
  text-decoration: none;
  background: none;
  vertical-align: middle;
  color: #77797c;
  overflow: hidden;
  margin-left: 0.8em;
}

.input_search_div .nv-autocomplete .nv-autocomplete-suggests {
  display: none;
}

.input_search_div .nv-autocomplete-suggestsDisplayed .nv-autocomplete-suggests {
  display: block;
  position: relative !important;
}

/* New Search Dropdown */


/* Search Options */
.search-options-container li {
  border-top: solid #E2E4E3 3px;
}

.input_search_div .nv-autocomplete-suggests ul a:hover {
  background: none;
  color: #3D3D3D;
  /*TagNav css affecting autocomplete styles*/
}

.input_search_div .search-suggest-category .search-category-label-container {
  color: #3D3D3D;
  font-size: 14px;
  cursor: default;
  display: flex;
  align-items: center;
  position: relative;
}

.input_search_div .search-suggest-category .search-category-label-container img {
  max-height: 16px;
  max-width: 16px;
}

.input_search_div .search-suggest-category .search-category-label-container .search-category-view-all {
  color: #368EC4;
}

.input_search_div .search-suggest-category .search-category-label-container .search-category-view-all:hover {
  color: #005686;
}

.input_search_div .search-suggest-category .search-category-label-container .search-category-label {
  float: left;
  border: 0px;
  cursor: default;
  padding-left: 14px;
}

.input_search_div .search-suggest-category .search-category-label-container .search-category-view-all {
  /* float: right;
  border: 0px;
  padding: 0px; */
  position: absolute;
  right: 1vw;
}

.input_search_div .search-suggest-category .search-category-label-empty {
  color: #B4B6BA;
  background: #FFF;
  cursor: default;
}

.input_search_div .search-suggest-category .search-category-label-empty .search-category-label {
  float: none !important;
  color: #B4B6BA;
  background: #FFF;
  cursor: default;
}

.input_search_div .search-suggest-category .search-category-label-empty:hover {
  background: #FFF;
  cursor: default;
}

.input_search_div .search-suggest-category .search-category-item {
  display: flex;
  align-items: center;
  line-height: 43px;
  font-size: 14px;
}

.input_search_div .search-suggest-category .search-category-item img {
  max-height: 16px;
  max-width: 16px;
}

.input_search_div .search-suggest-category .search-category-item .search-category-item-rounded {
  border-radius: 50%;
}

.input_search_div .search-suggest-category .search-category-item div {
  color: #77797C;
  overflow-x: hidden;
}

.input_search_div .search-suggest-category .search-category-item div.multi-lines {
  line-height: 23px;
}

.input_search_div .search-suggest-category .search-category-item-container .search-category-item-horizontal {
  position: relative;
  /* flex: 1; */
  /* display: flex */
  /* flex-direction: column; */
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  display: inline-block;
  width: 33%;
}

.input_search_div .search-suggest-category .search-category-item-container .search-category-item-horizontal img {
  margin: auto;
  display: flex;
  max-height: 64px;
}

.input_search_div .search-suggest-category .search-category-item-container:hover {
  background-color: #FFFFFF !important;
}

.input_search_div .search-suggest-category .search-category-item-container .search-category-item-horizontal:hover {
  background-color: #F1F1F1 !important;
}

.input_search_div .search-suggest-category .search-category-item-container .search-category-item-horizontal div {
  padding-top: 5px;
  padding-left: 0px;
  line-height: 0px;
  align-items: center;
  text-align: center;
  display: block;
  margin: auto;
}

.input_search_div .search-suggest-category .search-category-item-container {
  display: flex;
  justify-content: space-between;
}

#search-suggests-categories-App .search-category-item-container {
  display: block !important;
}

.search-category-app-widget-container {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 0;
}

.search-category-app-widget-icon {
  position: relative;
  height: 64px;
  width: 64px;
  background: url(../i3DXCompass/assets/images/icon_mask.png) 0 0 no-repeat;
}

.search-suggests-spinner-container {
  text-align: center;
}

.search-suggests-spinner-container .spinner {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.search-suggests-categories {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
  /* position: absolute; */
  /* width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: white; */
  max-height: 65vh;
  /* max-height: 100%; */
}

.search-suggests-categories-mobile {
  max-height: 25vh !important;
}

/* INSTANT SEARCH SCROLLBAR */
.search-suggests-categories::-webkit-scrollbar {
  width: 6px;
}

.search-suggests-categories::-webkit-scrollbar-thumb {
  border-radius: .25em;
  background: #e2e4e3;
}

.search-suggests-categories::-webkit-scrollbar-thumb:hover {
  background: #b4b6ba;
}

.searchOptionMenu ul li span {
  font-size: 13px;
}

.secondaryMenuSeparator {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.secondaryMenuSeparator:hover {
  background-color: white !important;
}

.secondaryMenuHidden {
  display: none !important;
}

/* TEMPORARY SEARCH IN CURRENT TAB UPDATE MESSAGE - START */
/* FUN110569 */
/*.secondaryMenuInfo{
  background-color: #f4f5f6;
}*/

/*.secondaryMenuInfo span{
  color: #368ec4 !important;
}*/

/*.secondaryMenuInfo::before {
  content: '';
  height: 44px;
  margin-top: -4px;
  margin-bottom: -4px;
  width: 5px;
  position: absolute;
  left: 0;
  background: #368ec4;
}*/

.FUN110569-modal-img {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.FUN110569-modal-update-text {
  font-weight: normal !important;
}

/* TEMPORARY SEARCH IN CURRENT TAB UPDATE MESSAGE - END */

.input_ctn_search .right_search {
  position: absolute;
  display: flex;
  top: 0;
  /*font-size: 1.7em;*/
  font-size: 18px;
  right: 0px;
  cursor: pointer;
}

.input_ctn_search .clear_btn_search {
  right: 44px;
  cursor: pointer;
}

.input_ctn_search .clear_ctn_search,
.input_ctn_search .run_ctn_search,
.input_ctn_search .option_ctn_search {
  display: inline;
  /* background: rgba(255,255,255,0.7) */
}

.input_ctn_search .clear_btn_search,
.input_ctn_search .run_btn_search,
.input_ctn_search .option_btn_search {
  width: 38px;
  right: 12px;
  cursor: pointer;
}

.input_ctn_search .clear_btn_search:hover,
.input_ctn_search .run_btn_search:hover,
.input_ctn_search .option_btn_search:hover {
  color: #3D3D3D;
}

/* Search SearchPQListUX */
.Search-PQListUX .wux-datagrid-cell-even {
  background-color: #F9F9F9;
}

.Search-PQListUX .Search-PQListUX-title {
  text-align: left;
  color: #77797c;
  display: inline-block;
  width: 100%;
  white-space: pre-wrap;
  line-height: 16px;
  vertical-align: middle;
  overflow: hidden;
  word-break: break-all;
}

.Search-PQListUX .Search-PQListUX-abbreviations {
  text-align: left;
  display: inline-block;
  width: 100%;
  white-space: pre-wrap;
  line-height: 16px;
  vertical-align: middle;
  overflow: hidden;
  word-break: break-all;
}

.input_search_div .nv-autocomplete-suggests ul div {
  /* border-left: 5px solid rgba(54, 142, 196, 0); */
  padding-left: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  line-height: 40px; //min(4.8vh,40px);
}

.input_search_div .nv-autocomplete-suggests ul div.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.input_search_div .nv-autocomplete-suggests ul>div:hover {
  background: #f1f1f1;
  border-color: #e4e4e4;
}

.input_search_div .nv-autocomplete-suggests ul>div.suggestion-selected {
  background: #f1f1f1;
  border-color: #e4e4e4;
}

.input_search_div .nv-autocomplete-suggests ul>div.selected {
  background: #f4f5f6;
  border-left: 5px solid #368ec4;
  padding-left: 5px;
  display: flex;
}

.input_search_div .nv-autocomplete-suggests ul>div.disabled {
  background: #f4f5f6;
  padding-left: 5px;
  display: flex;
  color: #C3C5C7;
  /* computed to keep expected disabled color #E1E2E3 with 50% opacity */
  filter: grayscale(#77797C);
}

.input_search_div .nv-autocomplete-suggests ul>div.active {
  background: #f4f5f6;
  border-left: 5px solid #368ec4;
  padding-left: 5px;
  display: flex;
}

.input_search_div .nv-autocomplete-suggests ul a {
  white-space: normal;
  height: initial;
  text-decoration: none;
  background: none;
  text-align: left;
  vertical-align: middle;
  color: #77797C;
  overflow: hidden;
  margin: 0px;
  padding-left: 14px;
}

.input_search_div .nv-autocomplete-suggests .predefined-searches,
.search-choice,
.tenant-choice,
.help-container a {
  text-transform: capitalize;
}

.input_search_div .nv-autocomplete-suggests .search-choice .toggle {
  margin-top: 3px;
  margin-bottom: 0px;
  display: block;
}

/* BETA USE */
.input_search_div .nv-autocomplete-suggests .search-choice .beta-toggle {
  right: 0px;
  position: absolute;
}

.input_search_div .nv-autocomplete-suggests .search-choice .toggle-switch {
  transform: scale(0.6);
}

.input_search_div .nv-autocomplete-suggests .search-choice .beta-toggle .control-label {
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 20px;
}

.input_search_div .nv-autocomplete-suggests .search-choice #search-combo-beta-search .toggle-switch {
  position: absolute;
  right: 0px;
  transform: scale(0.6);
  font-size: 20px !important;
  line-height: 20px;
}

.input_search_div .nv-autocomplete-suggests .search-choice #search-combo-beta-search .toggle-switch .control-label {
  font-weight: bold !important;
}

.nv-autocomplete-suggests .search-beta {
  text-align: center;
  font-weight: bold;
  color: #005686;
}

.nv-autocomplete-suggests .search-beta:hover {
  background: #f1f1f1;
  border-color: #e4e4e4;
  cursor: pointer;
}

.search-options-link,
.search-options-container li,
.search-options-tenant-container li {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.search-options-chevron-right,
.search-options-chevron-left {
  font-size: 25px;
}

.search-options-chevron-right {
  position: absolute;
  right: 10px;
}

.search-options-chevron-left {
  margin: 0px
}

.input_search_div .nv-autocomplete-suggests ul div span {
  font-size: 16px;
}

.input_search_div .nv-autocomplete-suggests ul a.choice-title {
  font-weight: bold;
  /*cursor:default;*/
  color: #B4B6BA;
  margin-left: 0.5em;
}

.input_search_div .nv-autocomplete-suggests ul div span:not(.spinner-bar) {
  padding-top: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
}

.input_search_div .nv-autocomplete-suggests ul div.whattosearch {
  align-items: center;
}

.input_search_div .nv-autocomplete-suggests ul div.choice-title-expander {
  align-items: center;
}

.search-history-element {
  max-height: 44px;
}

.sn-search-field ul div:hover {
  cursor: pointer;
}

.whereToSearch div {
  height: 26px !important;
  border-left: 0px !important;
  padding-left: 0px !important;
  cursor: pointer !important;
  /* background-color: transparent !important; */
}

.whereToSearch div span {
  position: absolute;
  display: block;
  right: 10px;
  pointer-events: none;
  font-size: 90% !important;
  cursor: pointer !important;
}

.search-menu-title {
  cursor: auto !important;
  border-left: 0px !important;
  padding-left: 0px !important;
  background-color: transparent !important;
}

ul.icon-dropdown>li>span {
  font-size: 22px !important;
}

.wux-controls-abstract.wux-windows-window.wux-element-contentbox.wux-windows-dialog.wux-ui-is-rendered.wux-windows-window-vertically-resizable.wux-windows-window-horizontally-resizable.search-column-custo-dialog {
  min-width: 500px;
  /*IR-702249-3DEXPERIENCER2020x*/
  z-index: 1300 !important;
}

@keyframes grayAnimated {
  50% {
    -webkit-filter: grayscale(#77797C);
    filter: grayscale(#77797C);
  }
}

// FUN130788 - specific enhancement for webUX components.
.search-pq-help-panel-content {
  height: 50em;
  width: 50em;

  @media (max-width: 450px) {
    height: 100em;
    width: 100em;
  }
}

div.wux-windows-dialog[wux-identifier="search-pq-help-panel"] {

  div.wux-windows-window-content.wux-element-contentbox {
    overflow: hidden;

    .pqListDivP {
      overflow: auto;
    }
  }
}
