/* TEMP */
.sn-search-field.uwa-autocomplete.nv-autocomplete-container {
  /* display: block !important; */
}

.secondaryMenuBetaFUN124298 {
  position: relative;
}

.secondaryMenuBetaFUN124298 img {
  position: absolute;
  width: 44px;
  height: 44px;
  right: 0;
  bottom: 0;
}

/* TEMP */

.sn-search-field.uwa-autocomplete.nv-autocomplete-container {
  float: left;
  min-width: 290px;
}

.tooltip_icon {
  margin-left: 39px;
  align-self: center;
  margin-right: 10px !important;
}

.search-history-clear-warning .modal-body {
  display: inline;

  p {
    margin: 0 10px;
  }
}

@media screen and (min-width: 875px) {

  .search-drop-down-full,
  .sn-search-field.uwa-autocomplete.nv-autocomplete-container:not(.searchMobileFormat) {

    /* CASE FOR UNDER 1000px */
    @media screen and (max-height: 1000px) {


      height: 66.5vh;

    }

    /* CASE FOR ABOVE 1000px */
    @media screen and (min-height: 1000px) {
      // .sn-search-field.uwa-autocomplete.nv-autocomplete-container {
      height: 700px;
      // }
    }

    .search-global-content-container,
    .search-global-footer-container {
      // width: 250% !important;
      max-width: 60vw;
      left: 50%;
      transform: translate(0, 0);
      background-color: #fff;
      //box-shadow: 5px 6px 10px 0px #d1d4d4
      box-shadow: 5px 6px 7px 0px rgba(0, 0, 0, 0.25)
    }








    &.new-search-mode {

      .search-global-content-container,
      .search-global-footer-container {
        transform: translate(-30%, 0%);
      }

      .search-global-footer-container {
        //box-shadow: 5px 6px 7px 0px #d1d4d4;
        box-shadow: 5px 6px 7px 0px rgba(0, 0, 0, 0.25);

        background-color: #F1F1F1;

        .search-dropdown-tab-settings,
        .search-dropdown-tab-predefined-queries {
          .fonticon {
            font-size: 22px !important;
            width: 38px;
            height: 38px;

            &:hover {
              color: #3d3d3d !important;
            }
          }


        }
      }

    }


    @media screen and (max-width: 1355px) and (min-width: 959px) {

      .search-global-content-container,
      .search-global-footer-container {
        transform: translate(-33%, 0%);
      }
    }

    @media screen and (max-width: 958px) and (min-width: 875px) {

      .search-global-content-container,
      .search-global-footer-container {
        transform: translate(-38%, 0%);
      }
    }

    .search-global-footer-container {
      height: 5%;
      display: inline-table;
      border-left: 1px solid #D1D4D4;
      border-right: 1px solid #D1D4D4;
      border-bottom: 1px solid #D1D4D4;
      border-radius: 0px 0px 8px 8px;

      .search-dropdown-tab-settings,
      .search-dropdown-tab-predefined-queries {
        .fonticon {
          font-size: 22px !important;

          &:hover {
            color: #3d3d3d !important;
          }

        }
      }
    }

    .search-tab-content {
      height: 100%;
      flex-direction: row;
    }

    &.new-search-mode {

      .search-tab-container .search-tab-content {
        height: calc(100% - 70px);
      }

      .search-global-content-container,
      .search-global-footer-container {
        width: 875px;
        background-color: #F1F1F1;

        .settings-tab-container {
          .setting-container {

            // WebUX checkbox toggle (touchMode:true is 20*20 that looks ugly)
            // Manipulating width and height of the checkbox icon
            .wux-toggle-icon-placeholder.wux-ui-fa.wux-icon {
              width: 15px;
              height: 15px;
              font-size: inherit;
            }

            .wux-label {
              overflow: visible;
            }
          }
        }
      }

      // background-color: #F1F1F1;

      .implicitOperatorContainer,
      .logicalOperatorContainer,
      .guidedModeHeading {
        display: none;
      }

      .search-tab-container {
        .settings-tab-container {
          padding-left: 30px;
          padding-right: 30px;
        }

        .instant-search-tab-container,
        .search-tab-content,
        .guided-results-container {
          padding: 30px 0 0 0;
          //overflow-y: auto;
        }

        &.nlq-mode,
        &.guided-mode {

          .instant-search-tab-container,
          .guided-results-container,
          .search-dropdown-guided-input,
          .search-drodpown-header {
            padding-left: 30px;
            padding-right: 30px;
          }

          .search-drodpown-header {
            padding-top: 30px;
          }

          .search-dropdown-guided-input {
            background-color: #fff;
          }

          .search-multi-view {
            height: 100%;

            //IR-1394678
            // overflow-y: auto; // No need because we have added scroll already in below class (.wux-layouts-responsivecollectionview)
            .wux-layouts-responsivecollectionview {
              height: calc(100% - 86px); // 48px(chips container) + 38px (Footer) = 86px
            }
          }

          .wux-controls-lineeditor {

            input {
              text-overflow: ellipsis;
            }

          }
        }
      }

      .search-tab-container:focus {
        outline: none;
      }
    }

    .nlq-brick-container {
      display: none;
    }

    .nlq-mode.show-results {

      .suggestion-container,
      .guided-common-samples-container {
        display: none;
      }

      .instant-search-container {
        display: block;
        height: -webkit-fill-available;
      }
    }


    .right-content-container {
      display: flex;
      flex-direction: column;
      /* height: 100%; */
      width: 65%;
      float: right;
      padding-left: 20px;
      flex: 1;
      /* padding-right: 15px; */
      /* overflow-y: scroll; */


      #myContentDropdown {
        margin-top: 0px;
      }

      .search-tab-buttons-container {
        div:first-child[id*="myContentDropdown"] {
          display: none !important;
        }
      }

      .sophisticatedMode-container {
        .guideModeBetaNotif {
          line-height: 16px;

          .wux-notification-container {
            width: 100%;
            max-height: 80px;

            .wux-notification-message {
              width: calc(100% - 137px);
              max-width: 290px;
              overflow-y: hidden;
            }

            .guideModeBeta-toogle {
              position: absolute;
              top: 30px;
              right: 14px;

              .wux-label {
                max-width: unset !important;
                color: #00b8de;
              }
            }
          }
        }
      }
    }

    .mycontent-container {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .history-container,
    .suggestion-container {
      width: 40%;
      float: left;
      background: white;
      background-clip: content-box;
      position: relative;
      display: flex;
      flex-direction: column;
    }

    .mycontent-empty-view,
    .instant-search-empty-view {
      display: flex;
      height: 89%;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      line-height: 36px;
      padding-top: 6px;

      .instant-search-empty-subtext {
        white-space: normal;
        line-height: normal;
        text-align: center;
      }

      .instant-empty-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        height: 100%;
        width: 100%;
      }

    }

    .mycontent-empty-view {
      margin-top: 30%;
      justify-content: center !important;
    }

    .search-tab-advanced-search-button {
      margin-left: 2%;
      margin-right: 1%;
    }

    .search-tab-buttons-container {
      /* height: 10%; */
      margin-top: 15px;
      float: left;
      width: 100%;
      display: flex;
      align-items: center;
    }

    .search-tab-buttons-container .wux-controls-button {
      height: 38px;
      border-radius: 4px;
      width: calc(100% - 5px); // IR-1138509-3DEXPERIENCER2023x - display button in full size.
    }

    .search-tab-buttons-container .wux-controls-button:first-of-type {
      margin-right: 5px;
    }

    .search-tab-buttons-container .wux-controls-button:last-of-type {
      margin-left: 5px;
    }

    .history-container {
      height: 100%;
    }

    .guided-mode+.settings-tab-container .guidedModeHeading,
    .guided-mode+.settings-tab-container .implicitOperatorContainer,
    .guided-mode+.settings-tab-container .logicalOperatorContainer {
      display: flex;
    }

    .setting-container {
      height: 44px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .setting-container .option-container,
    .setting-container .option-container-select {
      width: 60%;
    }

    .search-global-content-container .settings-tab-container .settings-container .apply-button {
      float: inline-end;

      &.BETA-FUN146944 {
        //BETA-FUN146944
        position: relative !important;
        float: right;
        right: unset;
        bottom: unset;
        margin-top: 30px;
      }
    }

    .setting-container.custo_selector>div.option-container-select>div.wux-controls-button {
      min-width: 38px !important;
      min-height: 38px !important;
      width: 38px !important;
      margin-left: 7px;
    }

    .suggestion-container {
      height: 100%;
    }

    .search-dropdown-clear-history,
    .search-dropdown-server-suggestions,
    .search-dropdown-suggestion-title {
      float: left;
      display: flex;
      padding-left: 1%;
      width: 100%;
    }

    .search-dropdown-suggestion-title {
      padding-left: 0% !important;

      &.separator {
        width: calc(100% - 20px) !important;
        margin-left: 10px;
        margin-right: 10px;
        border-top: 1px solid #d1d4d4;

        .search-history-icon {
          margin-left: 0px !important;
        }

        // .search-dropdown-clear-history-icon {
        //   margin-right: 0px !important;
        //   font-size: 22px;
        // }
      }
    }

    .instant-search-container {
      // height: calc(100% - 40px);
      width: calc(100% - 260px);
      float: right;
      flex-direction: column;
      // margin-top: 20px;
      margin-bottom: 20px;
      padding-right: 20px;
      padding-left: 20px;
      flex: 1;
      overflow-y: auto;
    }

    .search-global-footer-container .wux-controls-button {
      padding-right: 14px !important;
    }

    /***********************************/
    /*         SETTINGS POPUP          */
    /***********************************/

    .search-popup-content {
      font-size: 14px;
      /* TEMPORARY */
      padding-left: 5px;
      padding-right: 5px;
    }

    .search-popup-confirm-dialog {
      max-width: 500px;
      font-size: 14px;
    }

    .search-popup-content .setting-container.tabbed,
    .search-popup-content .setting-container .label-container,
    .settings-container .setting-container.dbl-clk,
    .settings-container .setting-container.tabbed {
      padding-left: 15px;
    }

    .search-popup-content .setting-container.keepcolumn,
    .search-popup-content .setting-container .label-container,
    .settings-container .setting-container.dbl-clk,
    .settings-container .setting-container.keepcolumn {
      padding-left: 15px;
    }

    /***********************************/
    /*         HELP POPUP              */
    /***********************************/

    .search-popup-content .predefined-queries-table {
      max-width: 80vw;
    }

    .search-popup-content table.predefined-queries-table tbody tr.predefined-queries-documentation-content td:first-of-type {
      width: 15%;
    }

    &.new-search-mode {
      .AltKeys::after {
        content: var(--key);
        color: white;
        position: absolute;
        background-color: red;
        padding: 5px;
        margin: 10px 0 0 50px;
        border-radius: 5px;
        border-color: #333;
        border-style: solid;
        border-width: 0.2em;
        display: inline-block;
        max-height: 30px;
        line-height: 16px;
      }

      .search-tab-container {
        .search-tab-content {
          height: calc(100% - 70px);
          padding-top: 30px;
        }
      }

      .nlq-brick-container {
        display: none;
      }
    }

  }
}

@mixin mobile {

  &.new-search-mode {

    /* CASE FOR OVER 1000px */
    @media screen and (min-height: 1000px) {
      height: 650px !important;

      .search-global-footer-container .wux-controls-button {
        width: 30%;
      }

      .search-global-footer-container .wux-controls-button span {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    /* CASE FOR UNDER 1000px */
    @media screen and (max-height: 1000px) {
      height: 75vh !important;

      .search-global-footer-container .wux-controls-button {
        padding-right: 14px !important;
      }

    }

    .search-global-footer-container .deactivate-beta-button .wux-button-label {
      display: none;
    }

    .search-global-content-container {
      height: 95%;

      .search-tab-container {
        padding: 0 20px 20px 20px !important;
      }
    }

    .search-global-footer-container {
      display: inline-table;
      height: 5%;
      width: 100%;
      background-color: white;
      border-left: 1px solid #D1D4D4;
      border-right: 1px solid #D1D4D4;
      border-bottom: 1px solid #D1D4D4;

      .search-dropdown-tab-settings,
      .search-dropdown-tab-predefined-queries,
      .nlqFeedback {
        display: flex !important;
      }
    }

    .search-tab-content {
      height: 100%;
      flex-direction: column;
      padding: 20px 0 0 0;

      .history-container {
        padding-bottom: 20px;
        // flex: ;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        max-width: none;
      }

      .right-content-container {
        transform: translate(0, -13%);

        @media screen and (max-height:700px) {
          transform: translate(0, -15%);
        }

        .mycontent-container {
          display: none;
        }

        .search-tab-buttons-container {
          display: flex;
          padding: 0px;

          div:first-child[id*="myContentDropdown"] {
            display: flex !important;
          }
        }
      }
    }

    .mycontent-container {
      padding-top: 15px;
    }

    .history-container,
    .suggestion-container {
      background: white;
      background-clip: content-box;
      position: relative;
      display: flex;
      flex: unset;
      flex-direction: column;
      height: 60%;
      max-width: 300px;
    }

    .section-container.section-myContent .section-object,
    .section-container-spinner-container {
      display: none !important;
    }

    .mycontent-empty-view {
      display: none !important;
    }

    .search-tab-advanced-search-button {
      margin-right: 5px;
    }

    .search-tab-favorite-search-button {
      margin-left: 5px;
    }

    .search-tab-buttons-container {
      height: 10%;
      display: flex;
      align-items: center;
      padding-right: 15px;
      padding-left: 15px;
    }

    .search-tab-buttons-container {
      display: none;
    }

    .setting-container {
      height: fit-content;
      display: flex;
      flex-direction: column;
    }

    .setting-container .option-container,
    .setting-container .option-container-select {
      width: 100%;
    }

    // .search-global-content-container .settings-tab-container .settings-container {
    //   overflow-y: hidden;
    // }

    .search-global-content-container .settings-tab-container .settings-container .apply-button {
      position: absolute;
      margin-top: 20px;
      right: 3%;
    }

    .predefined-queries-tab-container .special-characters-link-container {
      display: flex;
      justify-content: flex-end;
      padding-right: 3%;
      margin-bottom: 5px;
    }

    .predefined-queries-tab-container .special-characters-link-container .wux-controls-button {
      height: 32px;
    }

    .suggestion-container {
      height: fit-content;
    }

    .search-dropdown-clear-history,
    .search-dropdown-server-suggestions,
    .search-dropdown-suggestion-title {
      display: flex;
    }

    .suggestion-container-content .search-history-container:nth-child(n + 4) {
      display: none;
    }

    .suggestion-container-content {
      gap: 5px;

      .suggestion-container-empty-icon {
        font-size: 48px;
        height: 48px;
      }
    }

    .instant-search-container {
      height: 100%;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-right: 15px;
      padding-left: 15px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;

      // flex: 1;
      // justify-content: center;
      // align-items: center;
      @media screen and (min-width:700px) {
        padding-right: 0px;
        padding-left: 0px;

      }

      .instant-search-empty-view {
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding-top: 35%;
        line-height: 32px;

        .instant-empty-view {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-grow: 1;
          height: 100%;
          width: 100%;

          .instant-search-empty-subtext {
            white-space: normal;
            line-height: normal;
            text-align: center;
          }
        }
      }

      .instant-search-empty-view-image {
        font-size: 48px;
        height: 48px
      }


    }

    .instant-search-tab-container {
      display: flex;
      flex-direction: column;
      //overflow-y: auto;

      .search-multi-view {
        height: auto;
      }

      &::-webkit-scrollbar {
        width: 8px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #b4b6ba;
        border-radius: 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #77797C;
      }
    }

    .search-dropdown-tab-mycontent {
      margin-right: 10px;
    }

    .suggestion-container:has(.suggestion-container-content:empty) {
      display: none;
    }

    /***********************************/
    /*         SETTINGS POPUP          */
    /***********************************/

    .search-popup-content .setting-container:not(:first-child) .label-container-title {
      display: none;
    }

    .search-popup-content .setting-container .label-container {
      font-weight: bold;
      color: #3D3D3D;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .search-dropdown-header {
      .guided-lite-mode-cont {
        display: none;
      }
    }
  }
}

/* MOBILE FORMAT */
.sn-search-field.uwa-autocomplete.nv-autocomplete-container.searchMobileFormat {
  @include mobile;

  //	IR-1422717-3DEXPERIENCER2026x to ensure dropdown is still centered in swym and collaboration
  @media screen and (min-width: 667px) and (max-width:1000px) {
    transform: translate(-8%, 0);
  }

}

//	IR-1422717-3DEXPERIENCER2026x
div.dashboard-story-alert+.topbar {
  .sn-search-field.uwa-autocomplete.nv-autocomplete-container.searchMobileFormat {
    @include mobile;

    @media screen and (min-width: 667px) {
      transform: translate(-8%, 0);
    }
  }
}


@media screen and (max-width: 875px) {
  .sn-search-field.uwa-autocomplete.nv-autocomplete-container {
    width: 100%;
    min-width: 290px;

    @include mobile;
  }
}

// IPhone case
.sn-search-field.uwa-autocomplete.nv-autocomplete-container.iphone {
  @media screen and (max-device-width: 875px) {
    @media screen and (max-height: 1000px) {
      height: 60vh !important; //IR-1126664-3DEXPERIENCER2023x
    }
  }

  #pqsDropdown,
  #settingsDropdown,
  #myFavoriteDropdown,
  #advSearchDropdown {
    display: none !important;
  }

  .search-global-footer-container {
    display: none !important;
  }

  &.landscape {
    height: 80vh !important; //IR-1126664-3DEXPERIENCER2023x
  }

  .suggestion-container-empty {

    .item-circle {
      margin-right: 10px !important;
    }
  }
}

.sn-search-field.uwa-autocomplete.nv-autocomplete-container.autocomplete-hidden {
  display: none;
}

.sn-search-field.uwa-autocomplete.nv-autocomplete-container.helps-settings {
  .search-tab-container {
    display: none;
  }
}

.search-tab-content {
  display: flex;
  padding: 20px;
  overflow-y: hidden;
}

.new-search-mode {
  .search-tab-container {
    .search-tab-content {
      height: calc(100% - 70px);
    }
  }
}

.suggestion-container {
  position: relative;
  // padding: 20px;

  .no-search-suggestions {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.deactivate-beta-button {
  color: #368ec4 !important;
}

.deactivate-beta-button:hover {
  color: #42A2DA !important;
}

/*****************************************************/

.search-global-footer-container>div:not([class*='tab-selected']) .search-dropdown-tab-text {
  display: none;
}

.search-global-footer-container>div:not([class*='tab-selected']) {
  padding-right: 0px;
}

.search-global-footer-container .wux-controls-button {
  // padding-right: 14px !important;
  margin-left: 20px;
}

.search-global-content-container {
  height: 100%;
  box-shadow: 5px 6px 10px 0px #d1d4d4;
  border-left: 1px solid #D1D4D4;
  border-right: 1px solid #D1D4D4;
  border-top: 1px solid #D1D4D4;
}

.button-container {
  border-left: 1px solid #D1D4D4;
  border-right: 1px solid #D1D4D4;
  height: 10%;
}

.search-tab-advanced-search-button:hover,
.search-tab-expert-search-button:hover,
.search-tab-favorite-search-button:hover {
  cursor: pointer;
  background-color: #D1D4D4;
}

.search-tab-advanced-search-button>i,
.search-tab-expert-search-button>i,
.search-tab-favorite-search-button>i {
  margin-right: 1em;
}

.mycontent-empty-view {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-container-spinner-container {
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

/****************/
/* SECTION TILE */
/****************/
.section-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.section-myContent {
    position: relative;
  }
}

.section-container-header {
  background-color: white;
  border-radius: 28px;
  float: left;
  width: 100%;
  height: 48px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  .search-multi-view-icon {
    height: 32px;
    width: 32px;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
    z-index: 1;
    float: left;
    margin: 8px 14px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid;
    border-color: #77797C;
    border-radius: 4px;
  }
}

.section-container-header:hover {
  cursor: pointer;
  background-color: #D1D4D4;

  .search-multi-view-icon {
    background-color: #E2E4E3;
  }

  .my-content-lens-div .my-content-lens {
    &::before {
      border-radius: 56px;
      background-color: #E2E4E3;
    }
  }
}

.section-container-icon,
.section-container-title {
  float: left !important;
  margin-right: 0px !important;
}

.section-container-title {
  display: flex;
  gap: 5px;
  margin-left: 0px !important;
}

.section-container-title div:first-of-type {
  font-weight: bold;
  color: #3D3D3D;
}

.section-container-header:hover>.section-container-title>div:nth-of-type(2),
.section-container-header:hover>.section-container-title>div:nth-of-type(3) {
  font-weight: bold;
  color: #3D3D3D;
}

.section-container-icon {
  margin-left: 15px !important;
}

.section-container-icon {
  height: 16px;
  width: 16px;
  font-size: 16px;
  line-height: 44px;
  background-color: #e2e4e3;
  border-radius: 4px;
  background-size: 100%;
  /* background-repeat: no-repeat;
  background-position: center; */
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.section-container-link {
  display: none;
  float: right !important;
  margin-right: 20px;
  margin-left: auto;
  color: #368EC4;
}

.section-container-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #005686;
}

.section-object {
  display: flex;
  height: 50px;
  background-color: white;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 2%;
}

.section-object-image {
  height: 50px;
  width: 20%;
  border: 4px solid white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightgrey;
}

.section-object-content {
  height: 50px;
  width: 80%;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-object-title,
.section-object-description {
  line-height: normal;
  overflow: hidden;
}

.section-object-title {
  display: flex;
}

.section-object-description {
  text-overflow: ellipsis;
  font-size: 11px;
  color: #77797c;
}

.section-object-content-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.search-global-content-container:not(.search-global-content-container-in-context) .section-object-content-text {
  font-size: 13px;
  color: #368ec4;
  text-overflow: ellipsis;
  overflow: hidden;
}

.search-global-content-container:not(.search-global-content-container-in-context) .section-object-content-text:hover {
  color: #42A2DA;
  text-decoration: underline;
  cursor: pointer;
}

/*********************/
/* SECTION THUMBNAIL */
/*********************/
.section-container-content {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
}

.section-thumbnail {
  position: relative;
  width: 33%;
}

.section-thumbnail-content {
  display: flex;
  flex-direction: column;
}

.section-thumbnail-content:hover {
  background-color: #D1D4D4;
  cursor: pointer;
}

.section-thumbnail-image {
  margin: auto;
  max-height: 64px;
}

.section-thumbnail-image-native {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.section-thumbnail-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  padding-left: 5px;
}

.section-thumbnail-content-icon {
  height: 14px;
}

.section-thumbnail-content-text {
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
}

/*********************/

.mycontent-empty-view-image,
.instant-search-empty-view-image {
  font-size: 72px;
  height: 72px;
  position: relative !important;
  display: flex !important;
  align-items: center;
}

.instant-search-empty-view-icon {
  color: #00B8DE;
  position: absolute;
  top: 0px;
  right: -25px;
  font-size: 40px;
}

.mycontent-empty-view-text,
.instant-search-empty-view-text {
  font-weight: bold;
  font-size: 16px;
}

.mycontent-empty-view-subtext,
.instant-search-empty-view-subtext {
  white-space: normal;
  line-height: normal;
  text-align: center;
  // font-weight: bold;
}

.wider-search-link {
  cursor: pointer;
  font-weight: bold;
}

.mycontent-title-container {
  height: 8%;
  min-height: 44px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

.mycontent-icon {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.mycontent-link {
  margin-left: auto !important;
  margin-right: 5% !important;
  color: #368ec4;
}

.mycontent-link:hover {
  cursor: pointer;
  color: #005686;
}

.search-tab-container,
.guidedModeBeta-container,
.settings-tab-container,
.predefined-queries-tab-container,
.instant-search-tab-container {
  // display: flex;
  // flex-direction: column;
  height: 100%;
  background: #F1F1F1;
}

/* FUN141960 */

.instant-search-tab-container.limitReached {
  padding-top: 7px;

  .suggestion-container {
    padding-top: 10px;
    height: calc(100% - 60px) !important;
  }

  .instant-search-container.withApps {
    padding-top: 10px;
    height: calc(100% - 60px) !important;
  }
}

.instant-search-content-container {
  height: 100%;
}


.instant-search-warning-message {
  margin: 0 0 10px 0;
  padding: 0 20px;
  padding-inline-start: 20px;

  .wux-notification-container {
    width: auto;
    opacity: initial;
    box-shadow: none !important;
    margin: 0;

    &:hover,
    .wux-notification-title:hover,
    .wux-notification-band:hover {
      cursor: default !important;
    }

    .notification-link:hover {
      cursor: cursor !important;
    }

    .wux-notification-band {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .wux-notification-title {
      line-height: normal;
      text-align: center;

      a.notification-link {
        cursor: pointer;
      }
    }

    .wux-notification-band .wux-notification-icon {
      margin-top: 0;
    }
  }
}


/* FUN141960 */

/* case where search tab has favorite & advanced search buttons */
.search-tab-container:has(div.search-tab-buttons-container) .search-tab-content {
  /* height: 90% !important; */
}

.predefined-queries-tab-container {
  margin-top: 5px;
}

.search-dropdown-tab-mycontent,
.search-dropdown-tab-favorite-searches,
.search-dropdown-tab-settings,
.search-dropdown-tab-predefined-queries,
.nlqFeedback {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
  padding-right: 1em;

}

.search-dropdown-tab-settings,
.search-dropdown-tab-predefined-queries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.search-dropdown-tab-mycontent:hover,
.search-dropdown-tab-favorite-searches:hover,
.search-dropdown-tab-settings:hover,
.search-dropdown-tab-predefined-queries:hover,
.nlqFeedback:hover {
  cursor: pointer;
}

.tab-selected,
.tab-selected:hover {
  border-bottom: 3px solid #368ec4;
  cursor: auto;
}

.tab-selected>.search-dropdown-tab-icon {
  color: #368ec4;
}

.search-dropdown-clear-history-text,
.search-dropdown-server-suggestions-text,
.search-dropdown-suggestion-title-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  font-weight: bold;
  color: #3D3D3D;
}

.search-dropdown-suggestion-title-text {
  margin-left: -5px !important;
}

.search-dropdown-clear-history-icon {
  margin-right: 10px;
  //font-size: 18px;
  font-size: 22px;
}

.search-dropdown-clear-history-icon:hover {
  color: #3D3D3D;
  cursor: pointer;
}


.search-suggestion-container-empty-nohistories {
  // flex: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 0.83;
}

.suggestion-container-empty {
  height: 100%;
  display: flex;
  justify-content: space-between !important;
  flex-direction: column;
  line-height: 44px;
  align-items: center;

  .section-title {
    display: flex;
    margin-left: 10px;
    font-weight: bold;
    color: #3D3D3D;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    cursor: default !important;
  }

  .item-circle {
    background-color: #ffffff;
    position: relative;
    display: flex;
    z-index: 9;
    margin-right: 20px !important;

    .fonticon {
      margin: auto;
      color: #000000;
      font-size: 14px;
      color: #77797c !important;
      opacity: 0.5;
    }
  }

  .section-title-text {
    .fonticon-clock {
      font-size: 16px;
      margin-left: 10px !important;
      margin-right: 5px !important;
    }
  }

  .suggestion-container-empty-nohistories {
    flex: 0.71;
  }
}

.suggestion-container-empty-icon {
  font-size: 72px;
  height: 62px;
}

.suggestion-container-empty-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
}

/* .search-dropdown-clear-history:hover .search-dropdown-clear-history-icon,
.search-dropdown-clear-history:hover .search-dropdown-clear-history-text {
  color: #368ec4;
  cursor: pointer;
} */

/*.search-dropdown-tab-icon {
  margin-left: 0.8em !important;
  margin-right: 0.8em !important;
}*/

.search-dropdown-tab-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-history-container {
  height: 44px;
  width: 100%;
  display: flex;
  line-height: 38px;
  align-items: center;

  &.hover {
    background-color: #D1D4D4;
    cursor: pointer;

    .fonticon-clear {
      color: #3d3d3d;
    }
  }

  .search-history-delete:hover {
    color: #3d3d3d !important;
  }
}

.history-container-content {
  width: 100%;
  overflow-y: auto;
}

.suggestion-container-content {
  overflow-y: auto;
  overflow-x: hidden;
}

/*.history-container-content::-webkit-scrollbar,
.suggestion-container-content::-webkit-scrollbar,
.section-container::-webkit-scrollbar,
.instant-search-container::-webkit-scrollbar,
.settings-container::-webkit-scrollbar,
.predefined-queries-content::-webkit-scrollbar,
.predefined-queries-tab-container .wux-controls-expander-toggle .wux-controls-expander-body-toggle::-webkit-scrollbar {
  width: 6px;
}

.history-container-content::-webkit-scrollbar-thumb,
.suggestion-container-content::-webkit-scrollbar-thumb,
.section-container::-webkit-scrollbar-thumb,
.instant-search-container::-webkit-scrollbar-thumb,
.settings-container::-webkit-scrollbar-thumb,
.predefined-queries-content::-webkit-scrollbar-thumb,
.predefined-queries-tab-container .wux-controls-expander-toggle .wux-controls-expander-body-toggle::-webkit-scrollbar-thumb {
  background-color: #b4b6ba;
  border-radius: 3px;
}

.history-container-content::-webkit-scrollbar-thumb:hover,
.suggestion-container-content::-webkit-scrollbar-thumb:hover,
.section-container::-webkit-scrollbar-thumb:hover,
.instant-search-container::-webkit-scrollbar-thumb:hover,
.settings-container::-webkit-scrollbar-thumb:hover,
.predefined-queries-content::-webkit-scrollbar-thumb:hover,
.predefined-queries-tab-container .wux-controls-expander-toggle .wux-controls-expander-body-toggle::-webkit-scrollbar-thumb:hover {
  background-color: #77797c;
}*/

.search-history-delete {
  font-size: 18px;
  margin-left: auto !important;
  margin-right: 10px !important;
  display: none !important;
}

.search-history-container:hover {
  background-color: #D1D4D4;
  cursor: pointer;
}

.search-history-container:hover>.search-history-delete {
  display: block !important;
}

.search-history-icon {
  font-size: 16px;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.search-history-text {
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-history-text:first-child {
  margin-left: 10px;
}

.search-history-text-filtered {
  font-weight: bold;
}

.search-history-delete:hover {
  cursor: pointer;
}

.apply-container {
  text-align: right;
  padding: 0 10px 10px 0;
}

.guidedModeBeta-container,
.settings-container {
  overflow-y: auto;
  position: relative;
  height: 90%;
  padding: 0 3% 3% 3%;
  margin-top: 5px;
}

.setting-container .option-container,
.setting-container .option-container-select {
  /* max-height: 75%; */
  height: 38px;
  float: right;
  display: flex;

}

.setting-container .option-container-select {
  display: flex;
}

.setting-container .label-container-title {
  font-weight: bold;
  color: #3D3D3D;
}

.setting-container .label-container,
.settings-container .setting-container.dbl-clk,
.settings-container .setting-container.tabbed {
  margin-left: 15px;
}

.setting-container .label-container,
.settings-container .setting-container.dbl-clk,
.settings-container .setting-container.keepcolumn {
  margin-left: 15px;
}

.setting-container .option-container input {
  width: 15px;
  margin-right: 15px;
  margin-top: 0px !important;
  height: 100%;
}

.setting-container .option-container span {
  display: flex;
  align-items: center;
}

.setting-container .option-container span.disabled {
  color: #b4b6ba;
}

.setting-container .option-container-select select {
  width: 100%;
  border: #D1D4D4 1px solid;
  border-radius: 5px;
}

.search-disabled {
  color: #D1D4D4;
}

.search-disabled:hover,
.search-disabled:hover>div,
.search-disabled:hover>span {
  color: #D1D4D4 !important;
  cursor: unset !important;
}

.settings-tab-container .setting-container .option-container-select .wux-controls-combobox,
.search-popup-content .setting-container .option-container-select .wux-controls-combobox {
  width: 100%;
  height: 100%;
}

.search-global-content-container .settings-tab-container .setting-container .option-container-select .wux-controls-combobox input {
  margin-top: 0px;
}

.search-global-content-container .settings-tab-container .setting-container .option-container-select .wux-controls-combobox .wux-controls-combobox-mainelement {
  padding-left: 14px;
}

.search-global-content-container .settings-tab-container .setting-container .option-container-select .wux-controls-combobox .wux-controls-combobox-expander .wux-controls-combobox-icon {
  vertical-align: middle;
}

/*********************/
/*     HELP TAB      */
/*********************/

.predefined-queries-tab-container .special-characters-link-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 3%;
  margin-bottom: 5px;
}

.predefined-queries-tab-container .special-characters-link-container .wux-controls-button {
  height: 32px;
}

.predefined-queries-tab-container .wux-controls-abstract {
  margin-bottom: 5px;
  margin-top: 5px;
}

.predefined-queries-tab-container .wux-controls-abstract.expanded {
  height: 80% !important;
}

.predefined-queries-tab-container .wux-controls-abstract .wux-controls-expander-container {
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  position: static;
}

.predefined-queries-tab-container .wux-controls-abstract .wux-controls-expander-container .wux-controls-expander-body-toggle {
  height: 100%;
  position: static;
}

.predefined-queries-tab-container .wux-controls-abstract.special-characters-container .wux-controls-expander-container .wux-controls-expander-body-toggle {
  overflow-y: auto;
}

.predefined-queries-tab-container .wux-controls-abstract.type-shortcuts-container {
  &.hidePQ {
    display: none;
  }

  .wux-controls-expander-container .wux-controls-expander-body-toggle {
    overflow-y: hidden;
  }
}

.predefined-queries-tab-container .wux-controls-abstract .wux-controls-expander-container .wux-controls-expander-body-toggle .predefined-queries-documentation-container .predefined-queries-table {
  margin-bottom: 24px;
}

.predefined-queries-documentation-container table {
  width: 100%
}

.predefined-queries-documentation-container table tbody tr td {
  border: 1px solid grey;
  padding: 5px;
  line-height: 16px;
}

.predefined-queries-documentation-container table tbody tr td:first-of-type {
  width: 15%;
}

.predefined-queries-documentation-header {
  font-weight: bold
}

.predefined-queries-documentation-content {
  background-color: white;
}

.predefined-queries-documentation-container table tbody tr td ul {
  list-style-type: disc;
}

.predefined-queries-documentation-container table tbody tr td ul li {
  list-style-type: 100%;
}

.predefined-queries-documentation-container table tbody tr td p.important {
  border: 1px solid grey;
  padding: 3px;
  width: fit-content;
}

.guided-mode-help-container {
  height: auto;

  &.hidePQ {
    display: none;
  }

  .wux-controls-expander-body {
    line-height: 1.42857;
  }


  .section {
    margin: 20px 10px 10px 10px;

    .title {
      font-weight: bold;
      margin: 5px;
    }

    .content {
      padding: 5px;
    }
  }

  .moveRight.subSection {
    margin: 10px;
    padding: 0px;
  }

  .whiteBackground {
    padding: 10px;
    margin: 5px;
    border-color: black;
    background-color: white;
    border-radius: 5px;
  }

  .bold,
  .subTitle {
    font-weight: bold;
  }
}

/***********************************/
/*         HELP POPUP              */
/***********************************/

.search-popup-content {
  max-height: 80vh;
}

.search-popup-content .predefined-queries-table {
  // position: relative;
  min-height: 60vh;
  width: 100%;
  margin-top: 15px;
}

.search-popup-content .predefined-queries-container .wux-controls-lineeditor-width {
  width: 100%;
}

.search-popup-content table.predefined-queries-table tbody tr.predefined-queries-documentation-content td {
  border: 1px solid grey;
  padding: 5px;
  line-height: 16px;
}

.search-popup-content table.predefined-queries-table tbody tr.predefined-queries-documentation-content td:first-of-type {
  width: 15%;
}

.search-popup-content .predefined-queries-documentation-header {
  font-weight: bold;
}

.search-popup-content table.predefined-queries-table tbody.predefined-queries-table-body {
  display: grid;
  margin: 0px;
}

.search-popup-content table.predefined-queries-table tbody tr.predefined-queries-documentation-content td ul {
  list-style-type: disc;
}

.search-popup-content table.predefined-queries-table tbody tr.predefined-queries-documentation-content td ul li {
  list-style-type: 100%;
}

.search-popup-content table.predefined-queries-table tbody tr.predefined-queries-documentation-content td p.important {
  border: 1px solid grey;
  padding: 3px;
  width: fit-content;
}

/////////////////////////////////////////////////////////////////////

.predefined-queries-container {
  height: 100%;
}

.predefined-queries-content {
  height: 90%;
  overflow-y: auto;
}

.predefined-queries-tab-container .collapsed {
  height: auto !important;
  //overflow-y: hidden;
  overflow-y: visible;
}

/***** PQ Component *****/

.predefined-queries-container .autocomplete {
  height: 10%;
  margin-left: 2%;
  margin-right: 2%;
}

.predefined-queries-container .autocomplete input {
  border: transparent;
  margin: unset;
}

.predefined-queries-input .autocomplete-searchbox {
  background-color: #F1F1F1;
  border: none;
  padding-left: 0px;
  padding-right: 0px;
}

.predefined-queries-input .autocomplete-searchbox input {
  width: 100%;
  margin-top: 0px;
  background-color: white;
}

.predefined-queries-input .autocomplete-searchbox span {
  position: absolute;
  right: 9px;
  /* 50% font-size */
  /* top: 9px; /* 50% font-size */
}

.predefined-queries-content .predefined-queries-table {
  width: 100%;
}

.predefined-queries-table-body {
  margin-left: 2%;
  margin-right: 2%;
}

.predefined-queries-grey {
  background: rgb(240, 240, 240);
}

.predefined-queries-white {
  background: rgb(255, 255, 255);
}

.predefined-queries-grey table,
.predefined-queries-white table {
  width: 100%;
}

.predefined-queries-content-left {
  float: left;
}

.predefined-queries-content-right {
  float: right;
}

.predefined-queries-content-abbreviation:hover {
  cursor: pointer;
}

.predefined-queries-table tbody tr {
  line-height: 2;
  overflow-x: hidden;
}

/*******  New Guided UI  ********/
.sn-search-field {
  &.uwa-autocomplete.nv-autocomplete-container {
    &.new-search-mode {

      .suggestion-container,
      .history-container {
        max-width: 260px;
        border-radius: 4px;

        .suggestion-container-empty-nohistories {
          flex: 0.715; // alignment of No History with No result msg
        }

        .search-suggestion-container-empty-nohistories {
          flex: 0.87 // alignment of No Suggestions with No result msg
        }
      }

      .suggestion-container {
        padding: 0;
      }

      .instant-search-empty-view {
        height: 94% // alignment of instant search empty msg with No suggestions
      }

      .search-global-content-container {
        .instant-search-tab-container {
          height: calc(100% - 70px);
        }

        .search-tab-container {
          padding: 30px 30px 0 30px;

          .search-dropdown-header {
            display: block;

            .search-header {
              display: flex;
              justify-content: end;
              align-items: center;
              border-bottom: 1px solid #D1D4D4;
              height: 50px;

              .search-toggle {
                .wux-label {
                  margin-right: 2px;
                }
              }

              .searchdropdown-mode-switcher {
                display: none;
              }

              .guided-lite-mode-cont {
                display: none;
              }
            }
          }
        }
      }

      .predefined-queries-tab-container {
        overflow: auto;
      }

      &.enable-guided-mode {
        .search-tab-container {
          .search-dropdown-header {
            .search-header {
              justify-content: space-between;

              .searchdropdown-mode-switcher,
              #search-title-only {
                display: flex;
                padding: 0 5px;
                margin-bottom: 10px;

                #search-dropdown-switcher[focused] {
                  border-radius: 30px;
                  //background-color: rgb(232, 240, 254);
                  background-color: #d5e8f2;
                  color: #368ec4;
                }

                #search-dropdown-switcher {
                  padding: 0 10px;
                  border-radius: 30px;
                  border-color: transparent;


                  /*.fonticon{
                    font-size: 18px;
                  }*/



                  // #beta-label {
                  //   display: none;
                  // }



                  .wux-controls-combobox-expander .wux-controls-combobox-icon {
                    font-size: 12px !important;
                  }

                  &:hover {
                    border-radius: 30px;
                    //background-color: #e2e3e4;
                    background-color: #e2e4e3
                  }
                }
              }

              .guided-lite-mode-cont {
                display: none;
              }
            }
          }

          .guided-common-samples-container {
            display: none;
          }

          .search-dropdown-guided-input {
            display: none;
          }

          &.guided-mode,
          &.nlq-mode {
            padding: 0;

            .search-tab-content {
              display: none;
            }

            .search-dropdown-header {
              background-color: #fff;
              padding: 30px 30px 0 30px;

              .search-header {

                #search-title-only {
                  display: none;
                }

                .guided-lite-mode-cont {
                  display: flex;
                  gap: 10px;

                  .search-info {
                    display: none;
                    width: 38px;
                    height: 38px;
                    text-align: center;
                    position: relative;
                    line-height: 38px;
                    font-size: 20px;

                    &:hover {
                      background-color: #E2E4E3;
                      border-radius: 50%;
                    }
                  }

                  #nlqFeedback {
                    display: none;
                  }
                }
              }
            }

            .search-dropdown-guided-input {
              display: block;
              padding: 0 30px;
            }

            .guided-common-samples-container {
              display: block;

              .guided-common-samples-title {
                font-weight: bold;
                font-size: 14px;
                color: #3D3D3D;
                margin-bottom: 10px;
              }

              .common-samples-empty-view {
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 80%;
                width: 100%;
                align-items: center;
              }

              .example {
                width: 100%;
                margin-bottom: 10px;
                display: flex;

                .examples-content {
                  display: flex;
                  flex: 1;
                  border: 1px solid #D1D4D4;
                  background-color: unset;
                  border-radius: 25px;
                  height: 38px;
                  align-items: center;
                  cursor: pointer;
                  margin-right: 10px;
                  min-width: calc(100% - 29px);
                  background-color: #fff;

                  .examples-text {
                    display: flex;
                    margin-left: 5px;
                    text-align: left;
                    font: normal normal normal 14px/16px Arial;
                    letter-spacing: 0px;
                    color: #3D3D3D;
                    min-width: calc(100% - 59px);
                    text-overflow: ellipsis;
                    overflow: hidden;

                    .block {
                      padding-bottom: 4px;
                      padding-top: 4px;
                      font: normal normal normal 14px/38px Arial;
                      color: #3D3D3D;
                      background-color: #E2E4E3;
                      height: 24px;
                      line-height: 16px;
                      margin-left: 5px;
                      margin-right: 0px;
                      padding-left: 10px;
                      padding-right: 10px;
                      border-radius: 0;

                      &:first-child {
                        border-radius: 12px 0 0 12px;
                      }

                      &:last-child {
                        border-radius: 0 12px 12px 0;
                      }
                    }
                  }

                  .wux-ui-style-lite {
                    height: 38px;
                    min-width: 38px;
                    color: #77797C;
                    width: 38px;
                    display: inline-block;
                    text-align: right;
                    width: 100%;
                    margin-right: 20px;

                    .wux-button-icon-fi {
                      width: 20px;
                      height: 20px;
                      line-height: 20px;
                    }
                  }

                  #add-search {
                    width: 38px;
                    height: 38px;
                    padding-right: 10px;
                    font-size: 20px;
                    line-height: 38px;
                  }

                  &:hover {
                    border: 1px solid #77797C;

                    #add-search {
                      color: #3D3D3D;
                    }
                  }
                }
              }
            }

            .instant-search-tab-container {

              .section-container,
              .search-multi-view {
                display: none;
              }

              padding: 30px 30px 0 30px;
            }

            .search-dropdown-guided-input {
              background-color: #fff;
            }
          }

          &.guided-mode {
            .instant-search-tab-container {
              height: calc(100% - 225px);
              overflow-y: auto;
            }

            &:not(.incontext-builder-mode) {
              .suggestion-container {
                display: none;
              }
            }

            .search-dropdown-header {
              .search-header {
                .searchdropdown-mode-switcher {
                  #search-dropdown-switcher {
                    #beta-label {
                      display: flex;
                      align-items: center;
                      margin-top: 8px;
                    }
                  }

                }

                .guided-lite-mode-cont {
                  &.disable {
                    opacity: 0.3;
                    pointer-events: none;
                    cursor: not-allowed;
                  }
                }
              }
            }

            .guided-common-samples-container {
              .guided-info {
                height: 48px;
                display: flex;
                gap: 10px;

                .info-icon {
                  height: 32px;
                  min-width: 32px;
                  display: flex !important;
                  align-items: center;
                  justify-content: center;
                  border: 2px solid #707070;
                  border-radius: 4px;
                  font-size: 20px;
                  padding: 4px;
                }

                .info-text {
                  height: 38px;
                  padding: 5px;
                  line-height: 20px;
                }
              }
            }
          }

          &.nlq-mode {

            .suggestion-container {
              padding: 0px 0px;

              // No history Icon
              .empty-view-center {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;

                .container-empty-view {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex: 1;

                  .suggestion-container-empty-nohistories {
                    flex: none
                  }
                }
              }
            }

            .instant-search-tab-container {
              overflow-y: auto;
              height: calc(100% - 245px);

              .instant-search-container {
                margin-top: 0;
                height: -webkit-fill-available;

                .instant-search-empty-view {
                  .nlq-bricks-container {
                    // position: absolute;
                    // top: 0;
                    flex-shrink: 0;
                  }
                }
              }
            }

            .search-dropdown-header {
              .search-header {
                .guided-lite-mode-cont {
                  .search-info {
                    display: block;
                  }

                  #guided-lite-mode {
                    display: none;
                  }
                }
              }
            }

            .guided-common-samples-container {
              .guided-info {
                display: none;
              }

              @media screen and (min-width: 1908px) {
                width: 65%;
                float: right;
              }

              .example .examples-content #add-search {
                display: none;
              }

              .example {
                .examples-content {
                  .examples-text {
                    margin-left: 10px;
                  }
                }
              }
            }

            &.show-results {
              .nlq-brick-container {
                display: flex;
                height: 10%;
                padding: 5px 20px;
                justify-content: right;


                .nlq-title {
                  color: black;
                }
              }

              .guided-common-samples-container {
                display: none;
              }

            }
          }

          &.guided-mode,
          &.show-results.nlq-mode {

            .suggestion-container {
              display: none;
            }

            .instant-search-tab-container {
              .instant-search-container {
                height: auto;
                width: 100%;

                .instant-search-empty-subtext {
                  display: none;
                }

                .instant-search-empty-subtext-guided {
                  display: block;
                }
              }
            }
          }

          &.guided-mode {
            .instant-search-tab-container {
              .instant-search-container {
                transform: translate(0%, 50%);
              }
            }
          }

          &.show-results.nlq-mode {
            .search-dropdown-header {
              .search-header {
                .guided-lite-mode-cont {
                  #nlqFeedback {
                    display: block;
                  }
                }
              }
            }

            // 
            .instant-search-tab-container {
              .instant-search-container {
                margin-top: 0;
                height: -webkit-fill-available;
              }
            }
          }

          .guided-results-container {
            height: calc(100% - 225px);
            position: relative;

            .search-multi-view-label {
              background-color: transparent;
              border-radius: 0;
              border: none;
              width: auto;
            }
          }

          &.incontext-builder-mode {
            .search-dropdown-header {
              display: none;
            }

            .guided-common-samples-container {
              display: none;
            }

            .smart-queries-editor #search {
              display: none;
            }

            .inContext-actions-container {
              display: flex;
              gap: 20px;
              justify-content: flex-end;
              padding: 10px;
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
        }
      }
    }

    &.csv-role {
      .history-container {
        .suggestion-container-empty-nohistories {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }
    }

    .search-global-content-container {
      .search-tab-container {
        .search-dropdown-header {
          display: none;
        }

        .search-dropdown-guided-input {
          display: none;
        }
      }

      &.search-global-content-container-in-context {
        .search-tab-container {
          .search-tab-content {
            height: 100%;

            .right-content-container {
              height: 100%;
              width: 100%;
              transform: none !important;

              .mycontent-empty-view {
                margin-top: 0;
              }
            }
          }

          .search-dropdown-header {
            display: none;
          }
        }
      }

      &.search-global-content-container-in-context+.search-global-footer-container {

        height: 38px; // 	IR-1422846-3DEXPERIENCER2026x


      }
    }

  }

}

.instant-search-empty-subtext-guided {
  display: none;
}

.wux-controls-abstract.wux-controls-combobox-popup.wux-controls-popup.wux-ui-is-rendered li {
  font-size: 12px !important;
  line-height: unset;
}
