<div class="eno-dialog-wrap">
     <div class="eno-dialog-tabs" id="dialogTab">
            <!-- WebUX Tab Bar Goes Here -->
     </div>
     <div class="eno-dialog-body" id="propertiesTab">
           <div id="propertiesContainer" class="form">
           </div>
           <div id="extendedAttributesContainer" class="form hide">
               <div class="required-field-label"><span class="required-field-indicator">*</span>{{i18n "emxFoundation.Label.RequiredFieldLegend"}}</div>
               <div class="form-group editable">
                    <label>{{i18n "E6WCommonUI.Label.AttributeExtensions"}}</label>
                    <div class="field-group">
                      <div class="input-group-wrapper">
                          <div class="input-group">
                              <span class="input-element" id="extensionSelector"></span>
                          </div>
                      </div>
                    </div>
               </div>
               <div id="extensionAttributes"></div>
           </div>
     </div>
</div>
