<div class='grid-object-thumbnail'>
  <img draggable="true" src="{{image}}" data-id={{id}}>
  </img>
</div>
<span class="wux-tweakers-icon wux-ui-genereatedicon-fi wux-ui-3ds wux-ui-3ds-{{actionIcon}}"></span>
<span class='wux-tweakers-string-label'>{{description}}</span>
