<div class="ds-dialog ds-detail-display ddv-view">
      <div class="form form-vertical ddv-main">
        <div class="required-field-label">
          <span class="required-field-indicator">*</span>
          {{i18n "emxFoundation.Label.RequiredFieldLegend"}}
        </div>
        <div class="ddv-field form-group" data-field-type="text" data-field-name="customExtensionName">
          <label>{{i18n "E6WCommonUI.Label.AttributeExtension"}}</label>
          <div class="field-group">
            <div class="input-group-wrapper">
              <div class="input-group">
                <div class="input-element">
                  <span class="read-only">{{extension}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
