.doco-create-new2 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Alert inside dialog  */
.doco-create-new2 .alert{
    visibility: visible ;
}

.doco-create-new2 .header1 {
    margin: 0px;
}

.doco-create-new2 .header2 {
    margin: 0 0 12px 0;
}

.doco-create-new2 .form-group > label {
    margin: 0px 3px 9px 0px;
}

.doco-create-new2 .form-group {
    margin-bottom: 10px;
}

/* .doco-create-new2 .item-sections {
padding: 0px;
margin: 5px 0 0 0;
} */


.doco-create-new2 .attribute-accordeon {
    width: 100%;
}

.doco-create-new2 .wux-tweakers-array-inline-editor {
    max-width: unset;
}

.doco-create-new2 .multifile-grid {
    flex-grow: 1;
    position: relative;
    min-height: 0;
}

.document-createNew-modal {
    z-index: 50000;
}

/*.docm-dgColumn-field-mandatory::after {
    content: ' *';
    color: red;
  }*/

  .docm-mandatory {
    color: red; /* Change the color to red */
}

.docm-dgView-columnContainer { 
    display: flex; /* Aligns children in a row */
    align-items: center; /* Centers them vertically */
}

.docm-dgView-columnContainer-text {
	
    margin-left: 7px; /* Space between text and icon */
}
