
.del-panel-main-container {
  width: 100%;
  height:100%;
}
.del-panel-content-container{
    width: inherit;
    height: inherit;
}
.del-panel-progressbar-container{
    width: 100%;
    line-height: 0px;
}

.del-panel-progressbar-container .wux-controls-progressbar{
  z-index: 1;
  width: 100%;
  right: 0px;
  top: 0px;
  position: absolute;
}


.del-dgv-main-container {
  width: 100%;
  height:100%;
}
.del-dgv-content-container{
    width: inherit;
    height: inherit;
}
.del-dgv-progressbar-container{
    width: 100%;
    line-height: 0px;
}

.del-dgv-progressbar-container {
  top: 0;
  width: 100%;
  line-height: 0px;
  position: absolute;
  z-index: 1000;
}

.del-dgv-progressbar-container .wux-controls-progressbar{
  z-index: 1;
  width: 100%;
  right: 0px;
  top: 0px;
  position: absolute;
}
