<div class="f-attribute-container {{stateClass}}">

  <div class="attributeCriterion-edit">
    <div class="criterionHeader">
      <img class="criteriaIcon" src={{iconHeader}}>
      <span>{{titleClass}}</span>
      <span class="ctx-group-menu fonticon fonticon-chevron-down criterionDropDown"></span>
    </div>

    <div class="attr-edit-inputs {{touchMode}}">
    </div>
    <div class="attr-edit-inputs-allAttributes">
    </div>
    <div class="attr-edit-actions">
    </div>
  </div>

  <div class="attributeCriterion-read">
    <img class="attrReadIcon" src={{iconHeader}}>
    <div id="readHeader">
      <span id="prefix" class="attrRead header-bold"></span>
      <span class="ctx-group-menu fonticon fonticon-chevron-down criterionDropDown"></span>
      <div>
        <span id="value" class="attrRead"></span>
        <ul class="attrRead-multi-attr">
        </ul>
      </div>
    </div>
  </div>

</div>
