<div class="f-configuration-container {{stateClass}}">

  <div class="configCriterion-edit">
    <div class="criterionHeader">
      <img class="criteriaIcon" src={{iconHeader}}>
      <span>{{titleClass}}</span>
      <span class="ctx-group-menu fonticon fonticon-chevron-down criterionDropDown"></span>
    </div>
  </div>

  <div class="configCriterion-read">
    <!-- <div class="criterionHeader"> -->
    <img class="confReadIcon" src={{iconHeader}}>
    <div id="readHeader">
      <span id="prefix" class="confRead header-bold">{{titleConfigurationReadUX}}</span>
      <span class="ctx-group-menu fonticon fonticon-chevron-down criterionDropDown"></span>
      <div>
        <span id="value" class="confRead"></span>
        <div><span id="long-value" class="confRead"></span></div>
      </div>
    </div>
    <!-- <div> -->
  </div>

</div>
