<div id="NGF_{{filterId}}" class="f-globalFilter-container {{containerHeightClass}}">
  <div class="filter-Commands" style="display: none;">
    {{#if otherCmds}}
    <span class="fonticon fonticon-bug" id="filter-extra-commands" title="Filter extra commands"
      style="margin-left:10px"></span>
    {{/if}}

    <div class="global-filter-commands" id="global-filter-cmds">
    </div>
  </div>

  <div class="ActiveCriteriaView-container" id="FilterActiveCriteriaView_{{filterId}}">
  </div>

  <div class="welcomepage-container" id="WelcomePageFilter_{{filterId}}">
  </div>


  <div class="filter-Grid" style="display: none;">

    <div class="filter-IDCard-Area" id="FilterActiveCriteriaView_{{filterId}}">
      
      <div class="global-header">
        <div class="global-header-filtername">
        </div>

        <div class="global-header-idcard" style="display: none;" draggable="true">
          <!-- <div class="filter-IC-Toolbar" id="filterIDCardToolbar">
          </div> -->
        </div>
      </div>

    </div>


    <div class="filter-Filter-Area" id="FilterView_{{filterId}}">
      <div class="globalFilterView-container" style="display: none;">
      </div>

      <div class="globalEdit-container" id="globalEditContainer_{{filterId}}" style="display: none;">
      </div>
    </div>

  </div>

</div>
