<div class="f-global-container">
  <div class="global-filter-groups">

    <div class="filter-groups" id="filter-groups">
      <div class="addSpecificationButtons">
      </div>
    </div>

    <div class="keepAttributeChildrenMsg" id="keepAttributeChildrenMsg" style="display: none;">
      <span>{{attributeChildrenHiddenLabel}}</span>
    </div>

    <div class="filter-specifications-cmd" id="filter-specifications-cmd">
    </div>

  </div>
</div>

<div class="clearfixFilter">
  <div class="global-footer">
  </div>
</div>
