<div class="f-volume-container {{stateClass}}">
    <!-- <span class="ctx-group-menu fonticon fonticon-chevron-down criterionDropDown"></span> -->

    <div class="volumeCriterion-edit attributeCriterion-edit">
        <div class="criterionHeader">
            <img class="criteriaIcon" src={{iconHeader}}>
            <span>{{titleClass}}</span>
            <span class="ctx-group-menu fonticon fonticon-chevron-down criterionDropDown"></span>
        </div>

        <div class="attr-edit-inputs {{touchMode}}">
        </div>
        <div class="attr-edit-inputs-allAttributes">
        </div>
        <div class="attr-edit-actions {{touchMode}}">
        </div>
    </div>

    <div class="volumeCriterion-read">
        <img class="volumeReadIcon" src={{iconHeader}}>
        <div id="readHeader">
            <span id="prefix" class="volumeRead header-bold">{{titleVolumeReadUX}}</span>
            <span class="ctx-group-menu fonticon fonticon-chevron-down criterionDropDown"></span>
            <div>
                <span id="value" class="volumeRead"></span>
                <ul class="volumeRead-multi-attr">
                </ul>
            </div>
        </div>
    </div>

</div>
