/*Global Contains. It contains all the widget*/


#TOS_GlobalContain 
{
	position: relative;
	width: 100%;
	height: 100% !important;
		/*max-height: 430px;*/
	padding: 3px;
  
}





.TOS_marginCorrector{
	padding: 10px;
}

.TOS_ownerMarginCorrector{
	padding: 10px;
}

.TOS_MainContain {
	
}

.container_of_table {
	position: relative;
	margin-right: 5px; /*-20 to take the bottom scroller of the table into account */
	margin-bottom: 5px;
	border-bottom: 2px solid #80808038;
	height: 50%;
	width: 99%;
}


#TOS_mvaSearch {
	margin-bottom: 10px;
}

/*Main error area */
.TOS_MainError{
	vertical-align: middle;
	display: table;
	width: 100%;
	height: 100%;
}

.TOS_MainError div{
	height: 94%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/*Advance options for admin
*/
.TOS_AdvAdminOption{
	/*border: 1px solid rgb(215, 211, 211);*/
	padding-left: 1em;
	border-radius: 10px;
	display: inline-block;
}


/*
Apply change + History
*/
.TOS_layoutTable{
	width : 100%
}

.TOS_layoutTable .TOS_HistoryCell, .TOS_showTransfer{	
    cursor: pointer;
	text-align: left;
}

.TOS_layoutTable .TOS_SummaryCell {
    cursor: pointer;
	text-align: right;
}

.TOS_Success a{
	cursor: pointer;
}

.TOS_HistoryTable .TOS_CreationDate, .TOS_HistoryTable .TOS_ModificationDate{
	white-space: nowrap;
}


.TOS_HistoryTable .TOS_Hist_Id{	
	display: none;
}

.TOS_HistoryTable tbody .TOS_DeleteHistory{
	width : 30px;
}

.TOS_HistoryTable tbody .TOS_Hist_Id div{
	width : 5em; /*for 3 letter*/
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
	
}

/* Selected items
*/
.TOS_IconItem{
	padding-right: 4px;
}

.DeleteItem{
	
}
/*Arial Bold 12px #3D3D3D **/

.TOS_SelectedItemTitle
{
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    
    font-family: Arial;
    font-size: 12px;
    color: #3D3D3D;
}

.TOS_SelectedItemTitle[touch-mode]
{
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    
    font-family: Arial;
    font-size: 14px;
    color: #3D3D3D;
}

.wux-label
{
    font-size: 12px;
    font-weight: bold;
    color: #3D3D3D;
}

.wux-label[touch-mode]
{
	font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #3D3D3D;
}

.TOS_DeleteSelected{
	float: right;
}

.TOS_itemsListLine:hover{
	background-color: gray;	
}

.TOS_tableSelected td{
	vertical-align: middle !important;
}

.TOS_tableSelected h5{
	padding: 0;
	margin: 0;
}

.TOS_tableSelectedBody .TOS_SelectedName{
	width: 100%;
    color: #5b5d5e;
}

.TOS_tableSelectedBody td{
	min-width: 0px;
}
/*Button at the top*/


.TOS_ManageButtonDiv {
	/*text-align: right; */
	position: relative;
	border-bottom: solid black 1px;
	padding-bottom: 2px;
    width: 100%;
}

.TOS_ManageButtonDiv_WebInWin {
	/*text-align: right; */
	position: relative;
	width: 100%;
}

.TOS_TitleCommand{
	/*font-size: medium;
	font-weight: bold;	*/
	
	display: inline-block;
	vertical-align: middle;
	text-align: left;
    color: #5b5d5e;
}

.TOS_ManageButtonRight{
	text-align: right;
	height: 100%;
	min-width: 160px;
	display: flex;
}

.TOS_ManageButtonLeft{
	width: 100% !important;
	height: 100%;
	text-align: left;
	width: 600px;
	background-color: #f1f1f1;
}

.TOS_ManageButtonLeft .PBcontent {
	background-color: #f1f1f1;
	font-size: 14px;
}

.TOS_ManageButtonLeft .wux-controls-progressbar-linear-subcontainer {
	/*background-color: #f1f1f1;*/
	height: 19px;
}

.TOS_ManageButtonLeft .mask {
	background-color: #f1f1f1;
}

.TOS_ManageButtonRight_WebInWin{
	text-align: right;
	height: 100%;
	min-width: 160px;
	/*display: flex;*/
}

.TOS_ManageButtonLeft_WebInWin{
	width: 100% !important;
	height: 100%;
	text-align: left;
	width: 600px;
	display:none;
	background-color: #f1f1f1;
}

.TOS_ManageButtonLeft_WebInWin .PBcontent {
	background-color: #f1f1f1;
	font-size: 14px;
}

.TOS_ManageButtonLeft_WebInWin .wux-controls-progressbar-linear-subcontainer {
	/*background-color: #f1f1f1;*/
	height: 19px;
	width: 100%;
}

.TOS_ManageButtonLeft_WebInWin .mask {
	background-color: #f1f1f1;
}


/*Advanced Buttons*/
.TOS_advancedSwitch
{
    cursor: pointer;
    color: #368ec4;
}

.TOS_Option {
    display: inline-block;
    padding-right: 10px;
    height: 0; /* to have a better display of the options. Else it takes too much space */ 
}

.TOS_mainTableHeader {
	width: 100%;
}



.DGW_DataGrid tr.standardLine{
	/*max-width: 100%;*/
}




.TOS_mainTableBody_Header .CollaborativeSpace{
	display: table;
}
 


.DGW_DataGrid .TitleDiv{
	display:flex;
 
}


.DGW_DataGrid td.UserName{
	vertical-align: 100%;
	position: relative;
	width: 50%;
	min-width: 20em;
}



.DGW_DataGrid .Comments .uwa-input-text{
	width: 10em;
}

.DGW_DataGrid .uwa-select {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.DGW_DataGrid .input-tree-label {
	margin: 0;
	background: transparent;
	border: none;
}



.TOS_MasterContain .DGW_DataGrid tr.selected td {
    background-color: #d5e8f2!important;
}

/* multi choice at the top */

.TOS_DefChoice {
	float: right;
}

.TOS_DefChoiceDiv {
	display: inline-block;
	width: 100%;
}

.TOS_MainInterface {
	height: 100%;	
	overflow: hidden;
	padding: 5px;
}

.TOS_MainInterface td {
	padding-right: 10px;
}

.TOS_TargetOwnershipTitle{
	height: 38px;	
	position: relative;
	width: 100%;
}

  .TOS_searchWidgetContainer{
    	width: 95%;
    	padding: 10px;
    	table-layout: fixed;
    	/*overflow: auto;*/
    	/*height: 100%;*/
    	/*overflow: hidden;*/
    }
 .TOS_SearchSectionProject{
	text-align: left;
	height: 38px;
	padding-right: 10px;
	display: block;
	position: relative;
	width: 95%%;
}

.TOS_SearchSectionOrg{
	text-align: left;
	height: 38px;
	padding-right: 10px;
	display: block;
	position: relative;
	width: 95%;
}

.TOS_SearchSectionOwner{
	text-align: left;
	height: 38px;
	padding-right: 10px;
	display: block;
	position: relative;
	width: 95%;
}



/* Target ownership title */
/* for search */

@media only screen and (max-device-width: 480px) {
    

    .container_of_table {
		position: relative;
		/*margin-bottom: 5px; /*-20 to take the bottom scroller of the table into account */
		border-bottom: 2px solid #80808038;
		/*height: 30%;*/
		/*height: 80%;*/
		width: 99.5%;
	}
       /* styles for mobile browsers smaller than 480px; (iPhone) */
        .TOS_searchWidgetContainer{
    	width: 100%;
    	padding: 10px;
    	table-layout: fixed;
    	overflow: auto;
    	/*height: 100%;*/
    	/*overflow: hidden;*/
    }
    
 .TOS_CommentBox
{
	height: 19spx;
	width: 95%;
	max-width:95%;
	min-height: 19spx; 
	display: inline-block;
}


 .TOS_SearchSectionProject{
	text-align: left;
	height: 38px;
	padding-right: 10px;
	display: block;
	position: relative;
	width: 95%%;
}

.TOS_SearchSectionOrg{
	text-align: left;
	height: 38px;
	padding-right: 10px;
	display: block;
	position: relative;
	width: 95%;
}

.TOS_SearchSectionOwner{
	text-align: left;
	height: 38px;
	padding-right: 10px;
	display: block;
	position: relative;
	width: 95%;
	padding-bottom:10px;
}





.DGW_DataGrid .Title{
 
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
}
  

.DGW_DataGrid  .Type{
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
  
}

.DGW_DataGrid .Organization{
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
  
}

.DGW_DataGrid .CollaborativeSpace{
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
  
}

.DGW_DataGrid .Result{
		overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
  
}

.DGW_DataGrid .Responsible{
		overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
 }

}


@media only screen and (min-device-width: 640px) and (max-device-width: 830px) and (orientation: landscape) {
    
    
       
    .container_of_table {
		position: relative;
		margin-bottom: 5px; /*-20 to take the bottom scroller of the table into account */
		border-bottom: 2px solid #80808038;
		height: -webkit-fill-available;
		width: 99.5%;
	}
  
    


}    
    
    /* different techniques for iPad screening */
@media only screen and (min-device-width: 481px)  {
      /* For portrait layouts only */
       .TOS_searchWidgetContainer{
    	width:100%;
    	/*height:100%;*/
    }
  .TOS_SearchSection{
	text-align: left;
	height: 38px;
	padding-right: 10px;
	display: block;
	position: relative;
	width: 100%;
}

.DGW_DataGrid table {
/*	table-layout: fixed;
	width: auto !important;
	white-space: nowrap;*/
}

.DGW_DataGrid.TOS_mainTable table {
	table-layout: auto;
	/*width: auto !important;*/
	white-space: nowrap;
}


/* Datagrid */



.DGW_DataGrid .Symbol{
	visibility: visible;
	
}

.DGW_DataGrid .Title{

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
  visibility: visible;

}
.DGW_DataGrid .Type{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  visibility: visible;

}

.DGW_DataGrid .Revision{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  visibility: visible;

}

.HeaderAreaText.DGWI_Responsible.asc {
	display: inline !important;
}

.DGW_DataGrid .Organization{

	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  visibility: visible;
 
}

.DGW_DataGrid .Responsible{
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  visibility: visible;
 
}

.DGW_DataGrid .CollaborativeSpace{
	
 overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  visibility: visible;

}

.DGW_DataGrid .Result{

 overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  visibility: visible;
 
  
}


    }

   



/* Other table properties */


/
/* Add User /////////*/

/*Item list*/
.TOS_itemsList{
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: left;
    display: inline-block;
    position: relative;
}

.TOS_itemsList li:before{
	content: "\2022\ ";
	padding-left: 1em;
}


/*Error Area*/
.TOS_ErrorArea
{
	color: red;
	text-align: left;
	white-space: normal;
}

/*Loading Area*/
.TOS_loadingArea{
	float: left
}

.TOS_MessageArea{
	color: green;
}


/*Main Loading area*/
.TOS_MainLoading{
	height: 94%;
	text-align: center;
}

.TOS_MainLoading .spinner{
	position: relative;
	top: 45%;
}

.TOS_loadingArea32 {
	height: 90%;
	vertical-align: middle;
}

.TOS_loadingArea32 img
{
    position: relative;
    top: 45%;
}


.TOS_DropArea
{
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;

    text-align: center;
    vertical-align: middle;
    color: rgba(100,100,100,0.6);
    font-family: '3ds';
    font-weight: normal;
    background-color: rgb(220,220,220);
}

.errorComponent_TransferOwnership
{
	top: 0px;
	float: right;
	width: 50%;
}

.TOS_CommentBox
{
	/*height: 50px;*/
	width: 100%; /* 95%;*/
	/*display: inline-block;*/
	display: block;
	/*max-width:95%;
	min-width: 95%;
	min-height: 50px; */
}


 #TOS_CommentTextEditor
{
	max-width: 98.5%;
	
}
.wux-controls-editor textarea{
	/*max-width:inherit;*/
	width: 100%;
	
}

.TOS_mainTable .TOS_Id{
	display: none; /*Hide useless element for user*/
}


.syc-green-circle-symbol {
    color: #00ae00;
    font-size: 18px;
    position: absolute;
    font-family: entypo;       
}

 .syc-green-circle-symbol::before {
    content: '\e165';
}

.syc-check-symbol {
    color: #f4fff4;
    font-size: 12px;
    position: absolute;
    font-family: entypo;
    padding-left: 0.25em;
    padding-right: 0.25em;  
    padding-top: 0.25em;   
}

 .syc-check-symbol::before {
    content: '\e014';
}

.syc-red-circle-symbol {
    color: #ff1c1c;
    font-size: 18px;
    position: absolute;
    font-family: entypo;    
        
}

 .syc-red-circle-symbol::before {
    content: '\e165';
}

.syc-cross-symbol {
    color: #fff0f0;
    font-size: 12px;
    position: absolute;
    font-family: entypo;       
    padding-left: 0.25em;
    padding-right: 0.25em; 
    padding-top: 0.25em; 
}

 .syc-cross-symbol::before {
    content: '\e248';
}





