.ds_common .wux-windows-window {
    /* NWT 11/8/2022 - not sure why the wux.css main file started defaulting to 100%... */
    width: auto;
}
.ds_common .wux-windows-window,
.ds_common .wux-windows-window .wux-windows-window-maincontent,
/* .ds_common .wux-windows-window .wux-windows-window-titlebar .wux-windows-window-header-title, */
.ds_common .wux-controls-tabBar-tabs-container .wux-controls-button[checked]:not([disabled]).wux-controls-tabbar-panel,
.ds_common .wux-controls-tabBar-tabs-container .wux-controls-button:active:not([disabled]).wux-controls-tabbar-panel
{
    /* Change the panel and active tab backgrounds to white. */
    background-color: #ffffff;
}

.ds_common .wux-windows-window .wux-windows-window-titlebar,
.ds_common .wux-windows-window .wux-windows-window-titlebar .wux-controls-tabBar-tabs-container .wux-controls-button
{
    font-size: 19px;
}

.ds_common .wux-windows-window .wux-windows-window-titlebar {
    background-color: #ffffff;
    background-image: none;
}
.ds_common .wux-windows-panel:not(.wux-windows-windowgroup) .wux-windows-window-titlebar .wux-windows-window-header-title {
    border-width:0;
    line-height: 22px;
     background-color: transparent;
}
.ds_common .wux-windows-window:not(.wux-windows-windowgroup) .wux-windows-window-titlebar .wux-windows-window-header-title::after {
    width:0;
}

.ds_common .wux-windows-window.wux-windows-windowgroup .wux-windows-window-titlebar,
.ds_common .wux-controls-tabBar-tabs-container .wux-controls-button.wux-controls-tabbar-panel,
.ds_common .wux-controls-expander-placeholder .wux-controls-expander-container.wux-controls-expander-filled-separate > .wux-controls-expander-header,
.ds_common .wux-controls-expander-placeholder .wux-controls-expander-container.wux-controls-expander-filled-group > .wux-controls-expander-header
{
    /* Change the inactive tab and accordion backgrounds to Footer Gray. */
    background-color: #F1F1F1;
}

.ds_common .wux-afr-framewindow {
    /* Change the immersive frame background to white (instead of the radial blue gradient it currently is) */
    background-image: none;
    background-color: #ffffff;
}

.ds_common .wux-windows-docking-element-docking-zone .wux-windows-window {
    border-bottom: 1px solid #B4B6BA;
}
.ds_common .wux-datagrid {
    /* Use a 1px border around the grids (#E2E4E3) to create a little more structure. (around Table, not cells) */
    border: 1px solid #E2E4E3;
}

.ds_common td.wux-controls-lineeditor .wux-controls-lineeditor-validitysign {
    /* the validitysign is not being positioned correctly, so go ahead and manage it ourself */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    width: 19px;
}
