.enx-position-matrix-tooltip {
	 display: grid;
	 width: 305px;
	 grid-template-columns: 75% 25%;
	 column-gap: 4px;
}
 .enx-position-matrix-tooltip.large {
	 width: 475px;
}
 .enx-position-matrix-rotation {
	 display: grid;
	 grid-template-rows: 15px 15px 15px;
	 grid-template-columns: 33% 33% 33%;
	 column-gap: 4px;
	 row-gap: 2px;
	 padding-left: 2px;
	 padding-right: 2px;
	 border-left-style: solid;
	 border-left-width: 1px;
	 border-top-left-radius: 5px;
	 border-bottom-left-radius: 5px;
	 border-right-style: solid;
	 border-right-width: 1px;
	 border-top-right-radius: 5px;
	 border-bottom-right-radius: 5px;
}
 .enx-position-matrix-translation {
	 display: grid;
	 grid-template-rows: 15px 15px 15px;
	 row-gap: 2px;
	 padding-left: 2px;
	 padding-right: 2px;
	 border-left-style: solid;
	 border-left-width: 1px;
	 border-top-left-radius: 5px;
	 border-bottom-left-radius: 5px;
	 border-right-style: solid;
	 border-right-width: 1px;
	 border-top-right-radius: 5px;
	 border-bottom-right-radius: 5px;
}
 .enx-matrix-cell {
	 text-align: center;
	 width: 100%;
	 white-space: nowrap;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 align-self: center;
	 font-size: 10px;
}
