.sch-graph-selection-background {
  box-sizing: border-box;
}

.sch-graph-selection-rectangle {
  fill: #31afff;
  fill-opacity: 0.2;
  stroke: #005686;
  stroke-width: 1px;
}

.sch-graph-panning {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.wux-menu-mouse.sch-graph-menu {
  box-sizing: border-box;
  box-shadow: 4px 4px 4px #d1d4d4;
}
.wux-menu-mouse.sch-graph-menu .wux-menu-cell.wux-menu-title {
  background-color: #d5e8f2;
  border-bottom: 1px solid #e2e4e3;
}
.wux-menu-mouse.sch-graph-menu .wux-menu-cell.wux-menu-title > .wux-menu-overlap {
  top: 0px;
}