.IN_WORK .wux-controls-label{color:#FFFFFF ; background-color:#007DA3;}
.PRIVATE .wux-controls-label{color:#FFFFFF ; background-color:#9B2C98;}
.FROZEN .wux-controls-label{color:#FFFFFF ; background-color:#018308;}
.RELEASED .wux-controls-label{color:#FFFFFF ; background-color:#757575;}
.OBSOLETE .wux-controls-label{color:#000000 ; background-color:#FFFFFF;}
