.del-toolbarcommand-active {
    padding: 1px;
    border: 1px solid #b4b6ba;
    background-color: #d5e8f2;
    border-color: #368ec4;
    color: #005686;
}

.del-pertview-container { 
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} 
