<span id="" class="encapsulator" draggable="true">
      <span class="tag-color-chip"></span><span class="timeline-tree-select">
      </span><span class="timeline-tree-expander">
      </span><span class="timeline-tree-icon">
      <img />
      </span>
      <a class="timeline-tree-title context-menu-tree-node">
      <span class="td data-title">{{#if task}}TASK_NAME{{/if}}</span>
      </a>
      {{#if includeAssignees}}
            <span class="assignees">
                  <span title="" class="image"></span>
                  <span class="assignee-count" title=""></span>
            </span>
      {{/if}}
      <span class="actions">
      <span class="fonticon fonticon-chevron-down"></span>
      </span>
</span>