.sch-datagridview-objecteditor {
  box-sizing: border-box;
  border: 1px solid #d1d4d4;
  border-top: 4px solid #368ec4;
  border-radius: 4px 4px 0px 0px;
}
.sch-datagridview-objecteditor .wux-layouts-datagridview .wux-layouts-datagridview-cell:not([is-editable]):not(.sch-dgv-node-root):not(.wux-layouts-datagridview-column-header-cell) {
  color: #77797c;
}
.sch-datagridview-objecteditor .wux-layouts-datagridview .wux-layouts-datagridview-cell:not([is-editable]):not(.sch-dgv-node-root):not(.wux-layouts-datagridview-column-header-cell):not([is-preselected]) {
  background-color: #f4f5f6;
}