.sch-datagridview {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 100%;
}
.sch-datagridview .sch-datagridview-toolbar {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 5px;
}
.sch-datagridview .sch-datagridview-toolbar > .wux-controls-button {
  margin-right: 5px;
}
.sch-datagridview .sch-datagridview-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  flex-grow: 1;
}
.sch-datagridview .sch-datagridview-container .wux-layouts-datagridview[show-row-border] .wux-layouts-datagridview-row {
  border-bottom: 1px solid #f1f1f1;
}
.sch-datagridview .wux-tree-treelistview[expander-style=triangle] .wux-layouts-treeview-expander[data-wux-state=noChildren] {
  width: 13px;
  margin: 0px 0px 0px -7px !important;
}