/* ame45 : stylesheet of AdvanceSearchWithin FUN125256 */
.library_searchwithin_div {
    color: #000000;
}

.searchWithinTitle {
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #3d3d3d;
}

.headerCloseButton {
    padding: 4px;
    font-size: 12px;
}

.searchWithinBody {
    margin: 10px 10px 0 10px;
    height: auto !important;
}

.labelSearchWithin {
    padding: 4px;
}

.restrictQueryContainer {
    width: 100%;
}

.grouprestrictQueryContainer {
    width: 100%;
    padding: 2px;
    margin: 4px 2px 2px 2px;
}

.inlineConditionContainer {
    margin-left: 10px;
    padding: 0 0 0 2px;
    margin-bottom: 4px;
}

.andOrBlockContainer {
    display: inline;
}

.singleConditionBlockContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 2px 2px 0 0;
}

.groupHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 2px 2px 2px 0;
    padding: 2px;
}

.groupConditionBlockContainer {
    border-color: #b4b6ba;
    border-style: solid;
    border-width: 1px;
    width: 90%;
    height: auto;
}

.attributeComboContainer {
    padding: 1px;
    margin-right: 4px;
}

.operatorComboContainer {
    padding: 1px;
    display: flex;
    align-items: center;
}

.operatorComboContainer>* {
    margin-right: 4px;
}

.selectObjectType {
    /* cursor : pointer; */
    padding: 4px;
    margin-right: 2px;
}

.selectConditionType {
    cursor: pointer;
    padding: 4px;
    margin-right: 2px;
}

.blockButtonContainer {
    padding: 6px;
    margin-top: 2px;
}

.queryBuilderContainer {
    position: relative;
}

.deleteButtonHolder {
    margin-left: 6px;
    position: sticky;
}

@media all and (min-width:481px) and (max-width: 568px) {

    /* put your css styles in here */
    .singleConditionBlockContainer {
        flex-direction: column;
        align-items: normal;
    }

    .groupHolder {
        flex-direction: column;
        align-items: normal;
    }

    #librarySearchWithinDialog {
        height: 400px;
        width: 400px !important;
    }
}

@media all and (min-width:321px) and (max-width: 480px) {

    /* put your css styles in here */
    .singleConditionBlockContainer {
        flex-direction: column;
        align-items: normal;
    }

    .groupHolder {
        flex-direction: column;
        align-items: normal;
    }

    #librarySearchWithinDialog {
        height: 400px;
        width: 350px !important;
    }
}

@media all and (min-width:0px) and (max-width: 320px) {

    /* put your css styles in here */
    .singleConditionBlockContainer {
        flex-direction: column;
        align-items: normal;
    }

    .groupHolder {
        flex-direction: column;
        align-items: normal;
    }

    #librarySearchWithinDialog {
        height: 400px;
        width: 280px !important;
    }
}
